{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="E-ARK">

    <title>E-ARK Integrated Prototype</title>
    
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <script type="text/javascript" src="{% static 'earkweb/jquery-1.11.2/jquery-1.11.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'earkweb/jquery-1.11.2/jquery.form.min.js' %}"></script>

    <script type="text/javascript"
        src="{% static "js/base.js" %}">
    </script>

    {% block stylesheets %} 
    <!-- main style sheet -->
    <link rel="stylesheet" href="{% static "earkweb/css/base.css" %}" type="text/css" />
    <!-- bootstrap style sheet -->
    <link rel="stylesheet" href="{% static "earkweb/bootstrap-3.3.2/css/bootstrap.css" %}" type="text/css" />
    {% endblock %}

    {% comment %} 
    The 'extra' block allows defining additional header elements, such as 
    additional style sheet or javascript file includes, for example.
    {% endcomment %}
    {% block extra_head %}{% endblock %}

  </head>

  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="/earkweb/"><i class="icon-home icon-white"> </i> E-ARK Integrated Prototype</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                {% if user.is_active and user.is_staff %}
                <li class="menu-item "><a href="/earkweb/admin">Administration</a></li>
                {% endif %}

                <li class="menu-item dropdown"><a href="/sip2aip" class="dropdown-toggle" data-toggle="dropdown">SIP to AIP <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/sip2aip/">SIP Reception</a></li>
                    </ul>
                </li>

                <li class="menu-item dropdown"><a href="/search" class="dropdown-toggle" data-toggle="dropdown">AIP to DIP <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/search">File-based package search</a></li>
                        <li class="menu-item"><a href="/earkweb/search/packsel">Current package selection</a></li>
                    </ul>
                </li>

                <li class="menu-item dropdown"><a href="/earkweb/workflow" class="dropdown-toggle" data-toggle="dropdown">Workflow <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/workflow">Workflow editor</a></li>
                        <li class="menu-item"><a href="/earkweb/workflow/execution">Task/Workflow execution</a></li>
                    </ul>
                </li>

                <li class="menu-item dropdown"><a href="/earkweb/search/demosearch" class="dropdown-toggle" data-toggle="dropdown">Public search <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/search/demosearch/govdocs">Govdocs Corpus File Search</a></li>
                        <li class="menu-item"><a href="/earkweb/search/demosearch/news">News Corpus File Search</a></li>
                         <li class="menu-item"><a href="/earkweb/search/demosearch/package">Package File Search</a></li>
                    </ul>
                </li>

                </ul>
                
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="logininfo">
		 Logged in as: {{ user.username }}.
		 [<a href="/earkweb/accounts/logout">logout</a>]
		</div>
		{% endif %}
    </div>

    <div class="container">

      <div class="content-wrapper">
        {% block content %}
        {% endblock %}
      </div>

    </div><!-- /.container -->

    
    <script src="{% static "earkweb/bootstrap-3.3.2/js/bootstrap.min.js" %}"></script>
    <script src="{% static "earkweb/bootbox-4.4.0/bootbox.js" %}"></script>
  </body>
</html>
