<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="/earkweb/home" data-toggle="tooltip" title="version 0.1.3, date: 2015-09-16"><i class="icon-home icon-white"> </i> E-ARK <i>WEB</i></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">



                <ul class="nav navbar-nav">

                {% if user.is_authenticated %}

                {% if user.is_active and user.is_staff %}
                 <li id="admin" class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/admin">Django Administration</a></li>
                        <li class="menu-item"><a href="http://{{ DJANGO_IP }}:5555/tasks">Flower Process Monitoring</a></li>
                    </ul>
                </li>
                {% endif %}

                <li id="sipcreator" class="menu-item dropdown"><a href="/earkweb/sipcreator" class="dropdown-toggle" data-toggle="dropdown">SIP Creator <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/sipcreator/start">Create new SIP</a></li>
                        <li class="menu-item"><a href="/earkweb/sipcreator">Active SIP creation processes</a></li>
                        {% if user.is_active and user.is_staff %}
                        <li class="menu-item"><a href="/earkweb/sipcreator/batch">Batch SIP creation</a></li>
                        {% endif %}
                    </ul>
                </li>

                <li id="sip2aip" class="menu-item dropdown"><a href="/earkweb/sip2aip/overview" class="dropdown-toggle" data-toggle="dropdown">SIP to AIP <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/sip2aip/upload_sip">Upload SIP</a></li>
                        <li class="menu-item"><a href="/earkweb/sip2aip/overview">Active SIP to AIP conversion processes</a></li>
                        {% if user.is_active and user.is_staff %}
                        <li class="menu-item"><a href="/earkweb/sip2aip/batch">Batch SIP ingest</a></li>
                        {% endif %}

                    </ul>
                </li>

                <li id="aip2dip" class="menu-item dropdown activemenu"><a href="/earkweb/search/packsel" class="dropdown-toggle" data-toggle="dropdown">AIP to DIP <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/search/start">Start new AIP to DIP conversion</a></li>
                        <li class="menu-item"><a href="/earkweb/search/packsel">Active AIP to DIP conversion processes</a></li>
                        <!--<li class="menu-item"><a href="/earkweb/search/selection/default">AIP Selection</a></li>-->
                    </ul>
                </li>
                <!--
                <li id="workflow" class="menu-item dropdown"><a href="/earkweb/workflow" class="dropdown-toggle" data-toggle="dropdown">Workflow <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-item"><a href="/earkweb/workflow">Workflow editor</a></li>
                        <li class="menu-item"><a href="/earkweb/workflow/execution">Task/Workflow execution</a></li>
                    </ul>
                </li>
                -->
                {% endif %}

                <li id="pubsearch" class="menu-item dropdown"><a href="/earkweb/public" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--li class="menu-item"><a href="/earkweb/search/demosearch/govdocs">Govdocs Corpus File Search</a></li-->
                        <!--li class="menu-item"><a href="/earkweb/search/demosearch/news">News Corpus File Search</a></li-->
                        <!--li class="menu-item"><a href="/earkweb/public">Lily Repository Search</a></li-->
                        <!--<li class="menu-item"><a href="/earkweb/sip2aip/aipsearch/package">Repository search</a></li>-->
                        {% if user.is_active and user.is_staff %}
                        <!--li class="menu-item"><a href="/earkweb/indexing_status">Lily Repository Indexing Status</a></li-->

                        <li class="menu-item"><a href="/earkweb/sip2aip/aipsearch/package">Local Repository Search</a></li>
                        <li class="menu-item"><a href="/earkweb/sip2aip/indexing_status">Local Repository Indexing Status</a></li>

                        <!--<li class="menu-item"><a href="/earkweb/sip2aip/indexing_status">Indexing status</a></li>-->
                        {% endif %}

                    </ul>
                </li>
                <!--
                <li id="datamining" class="menu-item"><a href="/earkweb/datamining/start">Data/Text mining</a></li>
                -->
                </ul>

            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="logininfo">
		 Logged in as: {{ user.username }}.
		 [<a href="/earkweb/accounts/logout">logout</a>]
		</div>
		{% endif %}
    </div>
