{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

<!-- SIP to AIP javascript -->
<script type="text/javascript" src="{% static 'sip2aip/js/sip2aip.js' %}"></script>

{% endblock %}

{% block content %}

<h1 class="main"><i>earkweb</i></h1>

<h2>Release history</h2>
<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>Version</th>
        <th>Release date</th>
        <th>Description of changes</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>0.2.0</td>
        <td>01.12.2015</td>
        <td>
            <ul>
                <li>PREMIS events record executed tasks.</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.2.1</td>
        <td>30.11.2015</td>
        <td>
            <ul>
                <li>File format migration during SIP to AIP transformation improved.</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.9</td>
        <td>27.11.2015</td>
        <td>
            <ul>
                <li>Tasks use context object which allows executing a sequence of tasks (user interface experimental).</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.8</td>
        <td>24.11.2015</td>
        <td>
            <ul>
                <li>DIP creation: bugs in the package selection interface corrected; Chrome compatibility of the interface ensured.</li>
                <li>SIP to AIP conversion supports migration depending on the file type (current rules: GIF is migrated to TIFF using imagemagick, PDF is migrated to PDF/A using ghostscript)</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.7</td>
        <td>17.11.2015</td>
        <td>
            <ul>
                <li>SIP creator improved.</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.6</td>
        <td>09.11.2015</td>
        <td>
            <ul>
                <li>SIP to AIP conversion tasks improved</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.5</td>
        <td>16.10.2015</td>
        <td>
            <ul>
                <li>Task interface simplified</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.4</td>
        <td>25.09.2015</td>
        <td>
            <ul>
                <li>Documentation and texts added</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.3</td>
        <td>01.03.2015</td>
        <td>
            <ul>
                <li>LilyHDFSUpload available</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>0.1.2</td>
        <td>01.03.2015</td>
        <td>
            <ul>
                <li>CAS authentication</li>
                <li>WireIt workflow editor</li>
                <li>Celery task execution</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>0.1.0</td>
        <td>25.07.2015</td>
        <td>
            <ul>
                <li>Initial version deployed</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<h2>Commit log</h2>

<pre>2015-12-01 <a href="https://github.com/eark-project/earkweb/commit/3b9fab2">3b9fab2</a> added Premis to IP root level
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/0c0e19d">0c0e19d</a> minor additions
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/627eae3">627eae3</a> removed dependency from xlink.xsd (as online resource)
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/1adaad1">1adaad1</a> adding PRemis validation to AIPValidation task (called from Mets validation)
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/66f09b8">66f09b8</a> fixed validation errors for premis files
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/f060705">f060705</a> fixed error in event linking object
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/a77564a">a77564a</a> added relationship between the migrated file, its source file and the migration event
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/4e2647c">4e2647c</a> removed not needed attribute when calling createPremis()
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/779faf9">779faf9</a> can now create a Premis file after migrations * pulling event information from migrations.xml * one Premis file for every new representation * small restructuring of premisgenerator.py * TODO: package Premis file
2015-11-30 <a href="https://github.com/eark-project/earkweb/commit/5cbe6b2">5cbe6b2</a> New version
2015-11-27 <a href="https://github.com/eark-project/earkweb/commit/ac13e26">ac13e26</a> fixed merge error
2015-11-27 <a href="https://github.com/eark-project/earkweb/commit/6ac3ce7">6ac3ce7</a> solving merge errors
2015-11-27 <a href="https://github.com/eark-project/earkweb/commit/6c130fb">6c130fb</a> moved fido stuff from MigrationProcc to AIPMigrations
2015-11-27 <a href="https://github.com/eark-project/earkweb/commit/801c74c">801c74c</a> hotfix .odt problem
2015-11-27 <a href="https://github.com/eark-project/earkweb/commit/81a8aa8">81a8aa8</a> Quick fix for migrations being executed for files which are not to be migrated (this will be changed to migrations only triggered for files to be migrated)
2015-11-27 <a href="https://github.com/eark-project/earkweb/commit/319fe38">319fe38</a> hotfix for master
2015-11-27 <a href="https://github.com/eark-project/earkweb/commit/1bdbbf5">1bdbbf5</a> New version
2015-11-26 <a href="https://github.com/eark-project/earkweb/commit/0e4561f">0e4561f</a> Working area viewer: convert GIF to PNG
2015-11-26 <a href="https://github.com/eark-project/earkweb/commit/5cd5601">5cd5601</a> Working area viewer: convert GIF to PNG
2015-11-26 <a href="https://github.com/eark-project/earkweb/commit/3f2ff1f">3f2ff1f</a> sipcreator: ignore specific files when copying schemas folder
2015-11-26 <a href="https://github.com/eark-project/earkweb/commit/3b82610">3b82610</a> copy submission premis files to new representations
2015-11-26 <a href="https://github.com/eark-project/earkweb/commit/44c3af3">44c3af3</a> fixed apply_async for two tasks
2015-11-26 <a href="https://github.com/eark-project/earkweb/commit/2db8c80">2db8c80</a> comment block
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/0568c59">0568c59</a> Default task corrections for chaining
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/8643db3">8643db3</a> Replaced additional_input/output by additional_data
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/3e5a6e0">3e5a6e0</a> Initial version of chained task execution (default task refactored and task result obsolete)
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/f7d919b">f7d919b</a> added premis generation to sip creation
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/e1d7527">e1d7527</a> fixed error in metsgenerator.py that would break mets generation if any subfolders in root/metadata exist
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/a7612fd">a7612fd</a> minor changes
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/7216ae3">7216ae3</a> complete rework on mets generation: every earkweb task now creates a valid Mets file (next: structmap rework)
2015-11-25 <a href="https://github.com/eark-project/earkweb/commit/6bbf09c">6bbf09c</a> fixed a typo
2015-11-24 <a href="https://github.com/eark-project/earkweb/commit/17df673">17df673</a> Version 0.1.8
2015-11-24 <a href="https://github.com/eark-project/earkweb/commit/178579f">178579f</a> changed representation versioning pattern from *#* to *_mig-*
2015-11-24 <a href="https://github.com/eark-project/earkweb/commit/a267b68">a267b68</a> corrected target folder for migrations
2015-11-24 <a href="https://github.com/eark-project/earkweb/commit/51c277e">51c277e</a> migration and representation generation now works on any rep-name/any number of submission reps
2015-11-24 <a href="https://github.com/eark-project/earkweb/commit/426a024">426a024</a> user can now check on migration progress: * when migration tasks are queued, a xml file is created with info about the tasks * migration tasks create files when they are finished (successful or with errors) ** <taskid>.<extension>, extension shows if successful or failed ** when failed, file should contain error log (in addition to task logger) * MigrationProgress task checks the xml file, and edits (=rewrites) it according to task feedback (=files that they create) * when all migration tasks are successful, a subtask is called so that mets creation is allowed.
2015-11-24 <a href="https://github.com/eark-project/earkweb/commit/a3c310b">a3c310b</a> Remove active area css from home
2015-11-23 <a href="https://github.com/eark-project/earkweb/commit/9442ce8">9442ce8</a> Correct bugs in package selection interface (DIP creation)
2015-11-23 <a href="https://github.com/eark-project/earkweb/commit/92f940f">92f940f</a> added tasks for migration status checks (currently placeholder)
2015-11-20 <a href="https://github.com/eark-project/earkweb/commit/810f3d8">810f3d8</a> minor changes
2015-11-20 <a href="https://github.com/eark-project/earkweb/commit/d57cd74">d57cd74</a> fixed AIPMigrations task deadlocking and its suprocess blocking all workers
2015-11-19 <a href="https://github.com/eark-project/earkweb/commit/ba29975">ba29975</a> soft timeout for MigrationProcess implemented (clean exit)
2015-11-19 <a href="https://github.com/eark-project/earkweb/commit/c59215e">c59215e</a> added exception handling for subtasks
2015-11-18 <a href="https://github.com/eark-project/earkweb/commit/4706d3a">4706d3a</a> small fix for task order
2015-11-18 <a href="https://github.com/eark-project/earkweb/commit/f068404">f068404</a> migration task now blocking during migrations
2015-11-18 <a href="https://github.com/eark-project/earkweb/commit/22de8df">22de8df</a> Validation task path adaptation
2015-11-18 <a href="https://github.com/eark-project/earkweb/commit/8036ed2">8036ed2</a> continued work on Mets generation
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/9cb4c29">9cb4c29</a> Version 0.1.7
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/e723c02">e723c02</a> div position corrected in SIP creator gui.
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/21c1a53">21c1a53</a> Finished porting AIP2DIP tasks. Corrected web UI for AIP selection (help from Sven)
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/6cd8bd9">6cd8bd9</a> now adding earkweb.log as digiprovMD
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/3e67d7e">3e67d7e</a> added Mets generation for newly created representation
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/13b8d68">13b8d68</a> fixed MetsValidation only validating one subsequent Mets file
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/accc12f">accc12f</a> removed fileGrp entries, only relying on structMaps now
2015-11-17 <a href="https://github.com/eark-project/earkweb/commit/774aefc">774aefc</a> changed from uuid1() to uuid4(), because IDs were actually the same everywhere
2015-11-16 <a href="https://github.com/eark-project/earkweb/commit/9a6ee0a">9a6ee0a</a> various fixes to mets generation/validation and package creation
2015-11-16 <a href="https://github.com/eark-project/earkweb/commit/dd16ff3">dd16ff3</a> added schemas to mets file
2015-11-16 <a href="https://github.com/eark-project/earkweb/commit/7eae562">7eae562</a> removed AIP validation being always true
2015-11-16 <a href="https://github.com/eark-project/earkweb/commit/63614d4">63614d4</a> added workaround for earkweb.log always failing the validation process
2015-11-16 <a href="https://github.com/eark-project/earkweb/commit/012b75e">012b75e</a> fixed SIP/AIP Mets generation, now creating valid Mets files
2015-11-13 <a href="https://github.com/eark-project/earkweb/commit/0727bbb">0727bbb</a> fixed a typo
2015-11-13 <a href="https://github.com/eark-project/earkweb/commit/773033f">773033f</a> added placeholder: optional task to create METS files for representations after file migration
2015-11-13 <a href="https://github.com/eark-project/earkweb/commit/4462b09">4462b09</a> minor update to mets generation, now including files in representations when no mets.xml present
2015-11-13 <a href="https://github.com/eark-project/earkweb/commit/f75a0f3">f75a0f3</a> changed migration, each file migration is now a celery task (far from perfect)
2015-11-12 <a href="https://github.com/eark-project/earkweb/commit/9ea479d">9ea479d</a> SIP creator: parent identifier note only shown if corresponding options are opened.
2015-11-12 <a href="https://github.com/eark-project/earkweb/commit/26870e9">26870e9</a> SIP creator: corrected error if "representations" directory does not exist.
2015-11-12 <a href="https://github.com/eark-project/earkweb/commit/faf3bdc">faf3bdc</a> Test file removed
2015-11-11 <a href="https://github.com/eark-project/earkweb/commit/22967d0">22967d0</a> Test file removed
2015-11-11 <a href="https://github.com/eark-project/earkweb/commit/301e82c">301e82c</a> Initial representation must be added
2015-11-11 <a href="https://github.com/eark-project/earkweb/commit/1f280ba">1f280ba</a> SIP creation form (parent identifier, representation switching)
2015-11-11 <a href="https://github.com/eark-project/earkweb/commit/1283765">1283765</a> added installation instructions for Ghostscript
2015-11-11 <a href="https://github.com/eark-project/earkweb/commit/d699c04">d699c04</a> added subprocess32 to requirements
2015-11-11 <a href="https://github.com/eark-project/earkweb/commit/f3c6df3">f3c6df3</a> first commit migration task, very simple (pdf to pdf/a only)
2015-11-10 <a href="https://github.com/eark-project/earkweb/commit/50d6655">50d6655</a> SIP creation form refactored
2015-11-10 <a href="https://github.com/eark-project/earkweb/commit/c0f3a4f">c0f3a4f</a> * now deleting processed xml elements * deactivated AIPCreation task (did nothing anyway)
2015-11-10 <a href="https://github.com/eark-project/earkweb/commit/aaa7ab4">aaa7ab4</a> Completely rewordked MetsValidation(): * now using etree.iterparse() for event-driven validation of files * xml structure is now validated against schema * currently validation output is displayed on earkweb, but has no effect on task status (xml files are created faulty)
2015-11-10 <a href="https://github.com/eark-project/earkweb/commit/5a07994">5a07994</a> Search does not work in Chrome fixed
2015-11-10 <a href="https://github.com/eark-project/earkweb/commit/6468f60">6468f60</a> Order of task 'LilyHDFSUpload' adapted.
2015-11-10 <a href="https://github.com/eark-project/earkweb/commit/21b1c5c">21b1c5c</a> Indexing status page (number of documents)
2015-11-09 <a href="https://github.com/eark-project/earkweb/commit/b8ae7bd">b8ae7bd</a> Github log added
2015-11-09 <a href="https://github.com/eark-project/earkweb/commit/a93f930">a93f930</a> New version deployed
2015-11-09 <a href="https://github.com/eark-project/earkweb/commit/c90d487">c90d487</a> minor changes
2015-11-09 <a href="https://github.com/eark-project/earkweb/commit/76ced21">76ced21</a> Uncomment unused PremisUpdate
2015-11-09 <a href="https://github.com/eark-project/earkweb/commit/ac61d43">ac61d43</a> added metadata to METS.xml when on package/metadata level (metadata affecting more than one representation)
2015-11-09 <a href="https://github.com/eark-project/earkweb/commit/33b7bbc">33b7bbc</a> added basic AIP validation
2015-11-06 <a href="https://github.com/eark-project/earkweb/commit/7aa6021">7aa6021</a> Added new AIPStore task and refactoreed informationpackage to include storage_location
2015-11-06 <a href="https://github.com/eark-project/earkweb/commit/194d3d6">194d3d6</a> no longer needed/used MetsManipulate, thus deleted
2015-11-06 <a href="https://github.com/eark-project/earkweb/commit/5b19f39">5b19f39</a> created new task AIPPackageMetsCreation to avoid confusion with AIPCreation
2015-11-06 <a href="https://github.com/eark-project/earkweb/commit/c5281c4">c5281c4</a> split metadata structmap between IP and submission level
2015-11-06 <a href="https://github.com/eark-project/earkweb/commit/b743f18">b743f18</a> refactored CreateAIPMets to procedural creation of METS file
2015-11-05 <a href="https://github.com/eark-project/earkweb/commit/67b25cf">67b25cf</a> some changes (mostly to inactive PREMIS functionality)
2015-11-05 <a href="https://github.com/eark-project/earkweb/commit/ede3986">ede3986</a> minor change to list AIP PREMIS in IP.xml
2015-11-05 <a href="https://github.com/eark-project/earkweb/commit/bb96dff">bb96dff</a> refactoring AIPCreation task
2015-11-04 <a href="https://github.com/eark-project/earkweb/commit/3856f84">3856f84</a> some changes
2015-11-04 <a href="https://github.com/eark-project/earkweb/commit/06d8488">06d8488</a> Finished porting AIP2DIP tasks. Corrected web UI for AIP selection (help from Sven)
2015-11-03 <a href="https://github.com/eark-project/earkweb/commit/96266c2">96266c2</a> fixed typos
2015-11-03 <a href="https://github.com/eark-project/earkweb/commit/522b3a2">522b3a2</a> Changed AIPPackaging to include folder name (generated by IdentifierAssignment) into the archive
2015-11-02 <a href="https://github.com/eark-project/earkweb/commit/a23b8af">a23b8af</a> writing METS file
2015-11-02 <a href="https://github.com/eark-project/earkweb/commit/9175f6a">9175f6a</a> minor changes
2015-11-02 <a href="https://github.com/eark-project/earkweb/commit/a60aab2">a60aab2</a> decoding relative paths as utf-8 due to encoding errors with estonian SIP
2015-11-02 <a href="https://github.com/eark-project/earkweb/commit/d46f190">d46f190</a> added required packages for django/celery/mysql support
2015-11-02 <a href="https://github.com/eark-project/earkweb/commit/0fa9ad7">0fa9ad7</a> fixed no exception for try block
2015-11-02 <a href="https://github.com/eark-project/earkweb/commit/27b8473">27b8473</a> added admids
2015-11-02 <a href="https://github.com/eark-project/earkweb/commit/8e29131">8e29131</a> re-added AIPValidation placeholder
2015-10-30 <a href="https://github.com/eark-project/earkweb/commit/4b33d4f">4b33d4f</a> changed to reflect sipgenerator changes and finalized SIPPackaging task
2015-10-16 <a href="https://github.com/eark-project/earkweb/commit/740dc4a">740dc4a</a> Version number updated
2015-10-16 <a href="https://github.com/eark-project/earkweb/commit/ca11dde">ca11dde</a> Task ordering adapted
2015-10-16 <a href="https://github.com/eark-project/earkweb/commit/6e9bb54">6e9bb54</a> bug fix and removed close_logger call
2015-10-16 <a href="https://github.com/eark-project/earkweb/commit/266d76b">266d76b</a> Release information adapted (0.1.5)
2015-10-16 <a href="https://github.com/eark-project/earkweb/commit/14546b0">14546b0</a> Disable experimental workflow related functionality in master branch
2015-10-15 <a href="https://github.com/eark-project/earkweb/commit/11de8a2">11de8a2</a> Updated tasks. Now all the way to Lilly is possible
2015-10-12 <a href="https://github.com/eark-project/earkweb/commit/70342a5">70342a5</a> changed to reflect sipgenerator changes and finalized SIPPackaging task
2015-10-12 <a href="https://github.com/eark-project/earkweb/commit/1f91c0b">1f91c0b</a> Change SIP creator gui, adapted to new common specification format (representations)
2015-10-12 <a href="https://github.com/eark-project/earkweb/commit/a2dea89">a2dea89</a> simplified metadata handling for METS generation
2015-10-12 <a href="https://github.com/eark-project/earkweb/commit/7b5fc6a">7b5fc6a</a> beginning to simplify metdata recognition
2015-10-12 <a href="https://github.com/eark-project/earkweb/commit/1fdcb9d">1fdcb9d</a> continued rework of AIPCreation task
2015-10-09 <a href="https://github.com/eark-project/earkweb/commit/a896327">a896327</a> begin reworking AIPCreation task
2015-10-08 <a href="https://github.com/eark-project/earkweb/commit/65b13b3">65b13b3</a> renaming
2015-10-08 <a href="https://github.com/eark-project/earkweb/commit/e0d0dca">e0d0dca</a> updating premis from close_logger()
2015-10-08 <a href="https://github.com/eark-project/earkweb/commit/7956224">7956224</a> calling PREMIS update from finalize() (deactivated)
2015-10-08 <a href="https://github.com/eark-project/earkweb/commit/02bf742">02bf742</a> moved PREMIS update function
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/0757765">0757765</a> Logic of how information packages are filtered in the SIP creation, SIP to AIP conversion, and AIP to DIP conversion lists changed (extra parameter 'tstage')
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/e6e4979">e6e4979</a> Minimal struct map added to delivery XML
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/13ae63c">13ae63c</a> changes ti i did smthg to the sipgenerator but i don't remember
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/9c668fa">9c668fa</a> XMLSchema file for delivery validation tasks changed to instance that must be available in the schemas folder of the SIP.
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/4f7c6a0">4f7c6a0</a> Script workers/scantasks.py adapted (add module if module of a task does not exist, update existing modules if parameters changed, remove module if task was deleted and set last_task status of  IPs to DefaultTask if the last_task corresponds with the removed module)
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/18ad23d">18ad23d</a> timezone configured in django settings, datetime functions adapted
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/f5e66ca">f5e66ca</a> Default task constructor added
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/b2655ec">b2655ec</a> Create IP state XML when a SIP is initialized
2015-10-07 <a href="https://github.com/eark-project/earkweb/commit/ab9e0d6">ab9e0d6</a> last_change date tag in state.xml, last change in task result, display last change date in information package lists
2015-10-06 <a href="https://github.com/eark-project/earkweb/commit/15564bf">15564bf</a> Minor corrections SIPReset taskname and adapting initialize method in sipcreator
2015-10-06 <a href="https://github.com/eark-project/earkweb/commit/612c3b6">612c3b6</a> changes to tasks.py
2015-10-06 <a href="https://github.com/eark-project/earkweb/commit/961858e">961858e</a> changed to reflect sipgenerator changes and finalized SIPPackaging task
2015-10-06 <a href="https://github.com/eark-project/earkweb/commit/7ed6e51">7ed6e51</a> Corrected minor URL/unicode encoding related bug
2015-10-06 <a href="https://github.com/eark-project/earkweb/commit/624837e">624837e</a> Refactored to use relative paths and added delivery mets generation
2015-10-06 <a href="https://github.com/eark-project/earkweb/commit/7c8a1b2">7c8a1b2</a> Initialise SIP with predefined schemas during SIP creation.
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/2adbb05">2adbb05</a> Update SIP creator metadata creation
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/8426773">8426773</a> SIP creation templates corrected
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/38c4325">38c4325</a> Import error corrected
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/cd9539a">cd9539a</a> refactoring in progress
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/30eb843">30eb843</a> Add parameter packagename for SIPPackaging task
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/3f24824">3f24824</a> Latest Mets/Premis Generator Task and lib
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/d09b29b">d09b29b</a> Add last task workflow module when initializing the sip creation process.
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/f7b7858">f7b7858</a> SIP to AIP creation tasks modified
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/4391e5d">4391e5d</a> Return value of 'run_task' assigned to  task_context.additional_output so that result variables can be passed through to the frontend.
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/950b06a">950b06a</a> Upload directory changed, state XML created after upload. Obsolete log object removed.
2015-10-05 <a href="https://github.com/eark-project/earkweb/commit/567ef99">567ef99</a> Templates adapted, minior corrections
2015-10-02 <a href="https://github.com/eark-project/earkweb/commit/6189b93">6189b93</a> Core InformationPackages and WorkflowModules data models adapted
2015-10-01 <a href="https://github.com/eark-project/earkweb/commit/0d7b773">0d7b773</a> Refactoring of default task
2015-09-30 <a href="https://github.com/eark-project/earkweb/commit/c81b4ce">c81b4ce</a> can connect (will be used by wireit workflow editor)
2015-09-30 <a href="https://github.com/eark-project/earkweb/commit/e4bf10c">e4bf10c</a> Refactoring process status
2015-09-30 <a href="https://github.com/eark-project/earkweb/commit/530cc4f">530cc4f</a> Task class refactoring applied to core task classes (some SIP to AIP classes still to be refactored)
2015-09-30 <a href="https://github.com/eark-project/earkweb/commit/9730fa1">9730fa1</a> Added SIP metadata generation task
2015-09-30 <a href="https://github.com/eark-project/earkweb/commit/4c23cae">4c23cae</a> Default task refactoring
2015-09-29 <a href="https://github.com/eark-project/earkweb/commit/1a023a0">1a023a0</a> Additional result status variable corrected
2015-09-29 <a href="https://github.com/eark-project/earkweb/commit/a8d81be">a8d81be</a> Task template refactored (removed main database dependencies
2015-09-28 <a href="https://github.com/eark-project/earkweb/commit/d9f01d5">d9f01d5</a> Latest Mets/Premis Generator Task and lib
2015-09-28 <a href="https://github.com/eark-project/earkweb/commit/049c9c7">049c9c7</a> task execution adapted
2015-09-28 <a href="https://github.com/eark-project/earkweb/commit/5f47e27">5f47e27</a> task execution xml
2015-09-25 <a href="https://github.com/eark-project/earkweb/commit/2cdc821">2cdc821</a> URLs corrected
2015-09-25 <a href="https://github.com/eark-project/earkweb/commit/b3de16c">b3de16c</a> Version number corrected
2015-09-25 <a href="https://github.com/eark-project/earkweb/commit/b2765f4">b2765f4</a> Version history added
2015-09-25 <a href="https://github.com/eark-project/earkweb/commit/e4111da">e4111da</a> Start page added
2015-09-25 <a href="https://github.com/eark-project/earkweb/commit/4a0807d">4a0807d</a> Process status values adapted
2015-09-24 <a href="https://github.com/eark-project/earkweb/commit/fb0050d">fb0050d</a> Checksum verification in LilyHDFSUpload task.
2015-09-24 <a href="https://github.com/eark-project/earkweb/commit/6a1f434">6a1f434</a> DIP link removed for default package name in AIP selection interface.
2015-09-24 <a href="https://github.com/eark-project/earkweb/commit/228d5d4">228d5d4</a> Start DIP creation process improved: Checking input
2015-09-24 <a href="https://github.com/eark-project/earkweb/commit/59905a3">59905a3</a> Template headers changed
2015-09-24 <a href="https://github.com/eark-project/earkweb/commit/775ec8f">775ec8f</a> Upload SIP functionality added
2015-09-24 <a href="https://github.com/eark-project/earkweb/commit/b2b0b60">b2b0b60</a> Changed session based views
2015-09-23 <a href="https://github.com/eark-project/earkweb/commit/9e221b7">9e221b7</a> Minor change in deployment script
2015-09-23 <a href="https://github.com/eark-project/earkweb/commit/3fd59ea">3fd59ea</a> remove test data
2015-09-23 <a href="https://github.com/eark-project/earkweb/commit/04d7d59">04d7d59</a> Adding documentation
2015-09-23 <a href="https://github.com/eark-project/earkweb/commit/afa4af3">afa4af3</a> new sipgenerator (creates premis and mets)
2015-09-22 <a href="https://github.com/eark-project/earkweb/commit/c26de79">c26de79</a> Code cleaning: obsolete files and functions removed
2015-09-22 <a href="https://github.com/eark-project/earkweb/commit/6060d92">6060d92</a> Fixed parameters and views
2015-09-22 <a href="https://github.com/eark-project/earkweb/commit/2400ef2">2400ef2</a> SIP creation procedure without using session variables.
2015-09-22 <a href="https://github.com/eark-project/earkweb/commit/815082c">815082c</a> Central working area with file viewers (session related errors still need to be addressed
2015-09-21 <a href="https://github.com/eark-project/earkweb/commit/bf045a6">bf045a6</a> Bugfix: parameter list to create upload directory path corrected
2015-09-21 <a href="https://github.com/eark-project/earkweb/commit/3978a49">3978a49</a> Test data removed
2015-09-21 <a href="https://github.com/eark-project/earkweb/commit/f8b6163">f8b6163</a> SIP creator gui (IP format)
2015-09-18 <a href="https://github.com/eark-project/earkweb/commit/464989d">464989d</a> Feature #320 DIP Extract AIPs Task
2015-09-18 <a href="https://github.com/eark-project/earkweb/commit/d5f6fbc">d5f6fbc</a> Feature #321 Update table overview during DIP creation
2015-09-18 <a href="https://github.com/eark-project/earkweb/commit/0ec6bb6">0ec6bb6</a> Feature #326: Task type as property to allow filtering tasks
2015-09-16 <a href="https://github.com/eark-project/earkweb/commit/b737fd9">b737fd9</a> Bugfix: Task execution successful, but not updated in gui
2015-09-16 <a href="https://github.com/eark-project/earkweb/commit/288ae24">288ae24</a> removed print schema call
2015-09-16 <a href="https://github.com/eark-project/earkweb/commit/087006e">087006e</a> Readme adapted
2015-09-16 <a href="https://github.com/eark-project/earkweb/commit/bc32925">bc32925</a> Readme adapted
2015-09-16 <a href="https://github.com/eark-project/earkweb/commit/b3090aa">b3090aa</a> Feature #322: Layout improvement (forms), modularizing templates
2015-09-15 <a href="https://github.com/eark-project/earkweb/commit/07b5817">07b5817</a> Redmine Feature #278: Copy selected DIPs into the working area Redmine Feature #319: DIP Acquire AIPs
2015-09-15 <a href="https://github.com/eark-project/earkweb/commit/8fcc9f1">8fcc9f1</a> Corrected UnitTest to avoid class initialization upon unit import
2015-09-15 <a href="https://github.com/eark-project/earkweb/commit/2119dd2">2119dd2</a> added SUCCESS, FAILURE status to events
2015-09-15 <a href="https://github.com/eark-project/earkweb/commit/eabdd8a">eabdd8a</a> added PREMIS event creation to every task
2015-09-15 <a href="https://github.com/eark-project/earkweb/commit/21d0c7b">21d0c7b</a> small expansion for 'unidentified' xml
2015-09-15 <a href="https://github.com/eark-project/earkweb/commit/a5e2bc5">a5e2bc5</a> moved PREMIS to the correct AIP subfolder
2015-09-14 <a href="https://github.com/eark-project/earkweb/commit/03b1e3b">03b1e3b</a> corrected wrong format of relative paths
2015-09-14 <a href="https://github.com/eark-project/earkweb/commit/7b9a816">7b9a816</a> added customMD to fileGrp
2015-09-14 <a href="https://github.com/eark-project/earkweb/commit/5659b73">5659b73</a> Template copied to repair existing link
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/1d224b1">1d224b1</a> fixed wrong variable names for admids
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/2b61b6b">2b61b6b</a> added PREMIS creation (task AIPCreation)
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/7249dde">7249dde</a> set prettyprint to True
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/f27ac00">f27ac00</a> removed print output, added id to mets root
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/cd1ddeb">cd1ddeb</a> covered uppercase/lowercase in package directories
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/8fb4d74">8fb4d74</a> removed strings from atrribute id field
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/55b9a8d">55b9a8d</a> fixed: changed unintened use of absolute paths in METS file to relative paths
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/64d132e">64d132e</a> added fileGrp for schemas
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/5d29644">5d29644</a> added scan for metadata files
2015-09-10 <a href="https://github.com/eark-project/earkweb/commit/746c0da">746c0da</a> removed unicode encoding
2015-09-08 <a href="https://github.com/eark-project/earkweb/commit/f222bf1">f222bf1</a> Version number changed
2015-09-08 <a href="https://github.com/eark-project/earkweb/commit/e06a794">e06a794</a> DIP is additionally created as Information Package
2015-09-08 <a href="https://github.com/eark-project/earkweb/commit/f6b305d">f6b305d</a> Feature #288 DIP transformation interface (initial version - rendered, execution not possible) https://e-ark-redmine.magenta-aps.dk/issues/288
2015-09-08 <a href="https://github.com/eark-project/earkweb/commit/2d9151b">2d9151b</a> Backslash replacement in paths
2015-09-08 <a href="https://github.com/eark-project/earkweb/commit/e5c1d61">e5c1d61</a> Feature #287 Remove packages from active process list https://e-ark-redmine.magenta-aps.dk/issues/287
2015-09-08 <a href="https://github.com/eark-project/earkweb/commit/427be8d">427be8d</a> Feature #286 Remove process from active processes list https://e-ark-redmine.magenta-aps.dk/issues/286
2015-09-07 <a href="https://github.com/eark-project/earkweb/commit/1e214b9">1e214b9</a> DIP creation process improved
2015-09-07 <a href="https://github.com/eark-project/earkweb/commit/c61e8e8">c61e8e8</a> Version adapted
2015-09-07 <a href="https://github.com/eark-project/earkweb/commit/c94b152">c94b152</a> Redmine feature 285: "Highlight active menu item in navigation bar" and 284: "No login required for public search interface"
2015-09-04 <a href="https://github.com/eark-project/earkweb/commit/a4c63c4">a4c63c4</a> PremisManipulate adapted, test module for PREMIS creation
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/86601bc">86601bc</a> New format identification
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/2432026">2432026</a> Written new filetype identification using fido python module (README.md update)
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/c6715a7">c6715a7</a> PremisManipulate adapted, validation against premis schema added
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/fc7a39b">fc7a39b</a> Task development template added
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/ae5d8b8">ae5d8b8</a> Root folder in working are changed
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/1f5fb23">1f5fb23</a> Minor css update
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/c58d86a">c58d86a</a> Renaming labels
2015-09-03 <a href="https://github.com/eark-project/earkweb/commit/ca21984">ca21984</a> Renaming labels
2015-09-02 <a href="https://github.com/eark-project/earkweb/commit/f7650fa">f7650fa</a> information package status evaluated against locical expression configured in task documentation
2015-09-02 <a href="https://github.com/eark-project/earkweb/commit/711d9bf">711d9bf</a> LilyHDFSUpload task for AIP upload to HDFS with chunked transfer and progress reporting
2015-09-01 <a href="https://github.com/eark-project/earkweb/commit/7938cbe">7938cbe</a> Initial version of Lily upload task
2015-09-01 <a href="https://github.com/eark-project/earkweb/commit/91f49cf">91f49cf</a> Refactored tasks
2015-09-01 <a href="https://github.com/eark-project/earkweb/commit/02ef232">02ef232</a> Task execution improved
2015-09-01 <a href="https://github.com/eark-project/earkweb/commit/58721eb">58721eb</a> generalised code for inserting into an XML node sequence
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/a1377cb">a1377cb</a> Basic version of AIP packaging task added
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/e7f29a6">e7f29a6</a> Initial PREMIS
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/71f50db">71f50db</a> added list of known metadata types
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/09084a7">09084a7</a> basic idea for identification of unknown xml files
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/451aa50">451aa50</a> Minor changes in DIP creation templates
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/50c344d">50c344d</a> Moved workflow related scripts to workflow app
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/ab47d35">ab47d35</a> removed redundancy for mets root attributes
2015-08-31 <a href="https://github.com/eark-project/earkweb/commit/217e781">217e781</a> Reorganising navigation structure
2015-08-27 <a href="https://github.com/eark-project/earkweb/commit/6b9e8e3">6b9e8e3</a> requirements.txt correction
2015-08-25 <a href="https://github.com/eark-project/earkweb/commit/e11f54f">e11f54f</a> fixed wrong format of xsi:schemaLocation
2015-08-25 <a href="https://github.com/eark-project/earkweb/commit/ef7fcf2">ef7fcf2</a> added list of METS header attributes
2015-08-25 <a href="https://github.com/eark-project/earkweb/commit/3ebbcb3">3ebbcb3</a> first commit metadata files list
2015-08-25 <a href="https://github.com/eark-project/earkweb/commit/75e804c">75e804c</a> first commit mets file list (content)
2015-08-25 <a href="https://github.com/eark-project/earkweb/commit/45384d6">45384d6</a> AIP Creation task
2015-08-24 <a href="https://github.com/eark-project/earkweb/commit/6d10a52">6d10a52</a> traversing content files and adding to METS
2015-08-24 <a href="https://github.com/eark-project/earkweb/commit/adecb0c">adecb0c</a> Extended MetsManipulate class (checksum, created date)
2015-08-24 <a href="https://github.com/eark-project/earkweb/commit/f711a00">f711a00</a> Task improvements
2015-08-21 <a href="https://github.com/eark-project/earkweb/commit/90802a0">90802a0</a> Task improvements, delivery validation task added
2015-08-21 <a href="https://github.com/eark-project/earkweb/commit/7aaef48">7aaef48</a> Corrections due to unicode errors on deployment test server
2015-08-20 <a href="https://github.com/eark-project/earkweb/commit/3c97ca9">3c97ca9</a> jstree javascript library added
2015-08-20 <a href="https://github.com/eark-project/earkweb/commit/02ad41a">02ad41a</a> README changed
2015-08-20 <a href="https://github.com/eark-project/earkweb/commit/19efc25">19efc25</a> Changes due to errors in server deployment
2015-08-20 <a href="https://github.com/eark-project/earkweb/commit/03b3d20">03b3d20</a> Log file settings adapted on test server
2015-08-20 <a href="https://github.com/eark-project/earkweb/commit/bbd3540">bbd3540</a> Update python package requirements
2015-08-20 <a href="https://github.com/eark-project/earkweb/commit/1aad3bf">1aad3bf</a> improved task execution, basic sip to aip tasks
2015-08-20 <a href="https://github.com/eark-project/earkweb/commit/fa17237">fa17237</a> improved task execution, basic sip to aip tasks
2015-08-11 <a href="https://github.com/eark-project/earkweb/commit/1b268b6">1b268b6</a> use bootstrap for forms
2015-08-10 <a href="https://github.com/eark-project/earkweb/commit/130983b">130983b</a> correct field access of model API
2015-08-07 <a href="https://github.com/eark-project/earkweb/commit/59b222d">59b222d</a> reintroducte constanct for path to HDFS service
2015-08-06 <a href="https://github.com/eark-project/earkweb/commit/55c7fc0">55c7fc0</a> create a class for common XML helper functions
2015-08-04 <a href="https://github.com/eark-project/earkweb/commit/b8ae197">b8ae197</a> copy info from amdSec nodes between METS files
2015-08-04 <a href="https://github.com/eark-project/earkweb/commit/1691dce">1691dce</a> support nested fileGrp and div tags in METS
2015-08-03 <a href="https://github.com/eark-project/earkweb/commit/7b84038">7b84038</a> script for simplest case of AIP-to-DIP conversion
2015-07-31 <a href="https://github.com/eark-project/earkweb/commit/7acc9c6">7acc9c6</a> Improving tasks
2015-07-31 <a href="https://github.com/eark-project/earkweb/commit/4e0a83d">4e0a83d</a> Start tasks
2015-07-31 <a href="https://github.com/eark-project/earkweb/commit/2b86ce4">2b86ce4</a> Basic tasks
2015-07-30 <a href="https://github.com/eark-project/earkweb/commit/0255226">0255226</a> Basic tasks
2015-07-30 <a href="https://github.com/eark-project/earkweb/commit/7e4ca3c">7e4ca3c</a> Path to resource corrected
2015-07-30 <a href="https://github.com/eark-project/earkweb/commit/5271a1d">5271a1d</a> Resources moved
2015-07-30 <a href="https://github.com/eark-project/earkweb/commit/e57c0a2">e57c0a2</a> add nodes to amdSec at correct position
2015-07-30 <a href="https://github.com/eark-project/earkweb/commit/5755095">5755095</a> earkcore - modules adapted, unit tests corrected
2015-07-30 <a href="https://github.com/eark-project/earkweb/commit/a1a4ebb">a1a4ebb</a> use lxml.objectify for METS manipulation
2015-07-29 <a href="https://github.com/eark-project/earkweb/commit/f341a2d">f341a2d</a> Track task progress
2015-07-29 <a href="https://github.com/eark-project/earkweb/commit/1230048">1230048</a> Moved jquery library include statement from sub-templates into base template as it is required in all templates which inherit from it.
2015-07-29 <a href="https://github.com/eark-project/earkweb/commit/49a9dd5">49a9dd5</a> Adapting paths due to restructuring
2015-07-29 <a href="https://github.com/eark-project/earkweb/commit/a4f3323">a4f3323</a> Restructuring
2015-07-29 <a href="https://github.com/eark-project/earkweb/commit/828c3bd">828c3bd</a> Moved lib to earkcore
2015-07-28 <a href="https://github.com/eark-project/earkweb/commit/72010e5">72010e5</a> detail view information package status
2015-07-28 <a href="https://github.com/eark-project/earkweb/commit/ad24464">ad24464</a> basic gui for sip2aip-conversion
2015-07-28 <a href="https://github.com/eark-project/earkweb/commit/98a82ff">98a82ff</a> basic gui for sip2aip-conversion
2015-07-28 <a href="https://github.com/eark-project/earkweb/commit/1b58701">1b58701</a> Observe directory
2015-07-28 <a href="https://github.com/eark-project/earkweb/commit/b7428b0">b7428b0</a> Enable admin link
2015-07-27 <a href="https://github.com/eark-project/earkweb/commit/e393ad1">e393ad1</a> Copied sip-to-aip-conversion into earkweb
2015-07-24 <a href="https://github.com/eark-project/earkweb/commit/2d386f8">2d386f8</a> Django/Python backend for WireIt workflow editor instead of PHP
2015-07-23 <a href="https://github.com/eark-project/earkweb/commit/a84661f">a84661f</a> Create workflow language model from tasks
2015-07-23 <a href="https://github.com/eark-project/earkweb/commit/4423974">4423974</a> URL prefix earkweb is added on machines other than host=earkdev
2015-07-23 <a href="https://github.com/eark-project/earkweb/commit/43410b9">43410b9</a> Database settings changed to MySQL database eark
2015-07-23 <a href="https://github.com/eark-project/earkweb/commit/24778c4">24778c4</a> Removed migrations (and put on gitignore)
2015-07-23 <a href="https://github.com/eark-project/earkweb/commit/0f2e5d2">0f2e5d2</a> restore removal of AIPs from DIPs
2015-07-21 <a href="https://github.com/eark-project/earkweb/commit/e84f7a2">e84f7a2</a> extract TAR files
2015-07-16 <a href="https://github.com/eark-project/earkweb/commit/ccd5038">ccd5038</a> copy files into working area
2015-07-08 <a href="https://github.com/eark-project/earkweb/commit/7a17537">7a17537</a> move two forms into one
2015-07-07 <a href="https://github.com/eark-project/earkweb/commit/0abf163">0abf163</a> Started work on order-basket feature
2015-07-20 <a href="https://github.com/eark-project/earkweb/commit/fc6197f">fc6197f</a> Basic celery support
2015-07-20 <a href="https://github.com/eark-project/earkweb/commit/e3ec388">e3ec388</a> Basic celery support
2015-07-20 <a href="https://github.com/eark-project/earkweb/commit/28f31fd">28f31fd</a> Basic celery support
2015-06-19 <a href="https://github.com/eark-project/earkweb/commit/a73dde2">a73dde2</a> README adapted
2015-06-19 <a href="https://github.com/eark-project/earkweb/commit/6cea7b3">6cea7b3</a> Change backend URL
2015-06-19 <a href="https://github.com/eark-project/earkweb/commit/f25a79c">f25a79c</a> Include yui lib
2015-06-19 <a href="https://github.com/eark-project/earkweb/commit/3a613f5">3a613f5</a> Static template paths
2015-06-19 <a href="https://github.com/eark-project/earkweb/commit/c99e7c3">c99e7c3</a> WireIt Workflow editor
2015-06-18 <a href="https://github.com/eark-project/earkweb/commit/c12658e">c12658e</a> Deployment info added to README
2015-06-18 <a href="https://github.com/eark-project/earkweb/commit/26b3709">26b3709</a> Demo search integrated
2015-06-18 <a href="https://github.com/eark-project/earkweb/commit/2b95850">2b95850</a> Developer documentation updated
2015-06-18 <a href="https://github.com/eark-project/earkweb/commit/ee23794">ee23794</a> Web application renamed to earkweb
2015-06-18 <a href="https://github.com/eark-project/earkweb/commit/03eca4f">03eca4f</a> Web application renamed to earkweb
2015-06-18 <a href="https://github.com/eark-project/earkweb/commit/e969147">e969147</a> Web application renamed to earkweb
2015-06-18 <a href="https://github.com/eark-project/earkweb/commit/5b5da8b">5b5da8b</a> Web application renamed to earkweb
2015-04-24 <a href="https://github.com/eark-project/earkweb/commit/112eac0">112eac0</a> added: mkvirtualenv, workon
2015-04-24 <a href="https://github.com/eark-project/earkweb/commit/95ff73e">95ff73e</a> Developer notes updated (README) ff
2015-04-24 <a href="https://github.com/eark-project/earkweb/commit/3236633">3236633</a> Developer notes updated (README)
2015-04-24 <a href="https://github.com/eark-project/earkweb/commit/d6f3d75">d6f3d75</a> demosearch template added
2015-04-13 <a href="https://github.com/eark-project/earkweb/commit/6a2bd60">6a2bd60</a> Loading preview feedback
2015-04-13 <a href="https://github.com/eark-project/earkweb/commit/34aad1e">34aad1e</a> Loading
2015-04-13 <a href="https://github.com/eark-project/earkweb/commit/e4a64a9">e4a64a9</a> Disable link for non-supported mime-types in direct file preview
2015-04-13 <a href="https://github.com/eark-project/earkweb/commit/d508456">d508456</a> XML Viewer link corrected
2015-04-10 <a href="https://github.com/eark-project/earkweb/commit/2a92ffe">2a92ffe</a> Link to solr removed
2015-04-10 <a href="https://github.com/eark-project/earkweb/commit/5d4d225">5d4d225</a> Style sheet adaptions for deployment
2015-04-10 <a href="https://github.com/eark-project/earkweb/commit/45289df">45289df</a> Font size change in basic style sheet (production)
2015-04-09 <a href="https://github.com/eark-project/earkweb/commit/af1dc4c">af1dc4c</a> Default redirect URL added
2015-04-09 <a href="https://github.com/eark-project/earkweb/commit/0c6e3b7">0c6e3b7</a> Login/logout prefix for deployment configuration added
2015-04-09 <a href="https://github.com/eark-project/earkweb/commit/2a29ac9">2a29ac9</a> Started modifying XML response for viewer
2015-04-09 <a href="https://github.com/eark-project/earkweb/commit/cf4a5e8">cf4a5e8</a> Deployment changes
2015-04-08 <a href="https://github.com/eark-project/earkweb/commit/5adea01">5adea01</a> repo link changed
2015-03-31 <a href="https://github.com/eark-project/earkweb/commit/33fef3f">33fef3f</a> logout link corrected
2015-03-31 <a href="https://github.com/eark-project/earkweb/commit/2729f8c">2729f8c</a> Switched to VM CAS
2015-03-30 <a href="https://github.com/eark-project/earkweb/commit/d7ffa2f">d7ffa2f</a> Content-type condition added
2015-03-27 <a href="https://github.com/eark-project/earkweb/commit/5b9dc1a">5b9dc1a</a> Enable CAS authentication
2015-03-27 <a href="https://github.com/eark-project/earkweb/commit/69f9b3e">69f9b3e</a> Persisting package selection
2015-03-27 <a href="https://github.com/eark-project/earkweb/commit/e239402">e239402</a> Code cleaning, file logging added
2015-03-26 <a href="https://github.com/eark-project/earkweb/commit/5947238">5947238</a> Using modal XML viewer
2015-03-25 <a href="https://github.com/eark-project/earkweb/commit/27df97c">27df97c</a> Highlight-plugin added, search interface improved
2015-03-18 <a href="https://github.com/eark-project/earkweb/commit/15e2c87">15e2c87</a> Initial status
2015-03-03 <a href="https://github.com/eark-project/earkweb/commit/6c94bc5">6c94bc5</a> Initial commit</pre>

{% endblock %}
