body {
  padding-top: 50px;
}
.content-wrapper {
  padding-top: 10px;
  text-align: left;
}


a.navbar-brand:hover {
    text-decoration: underline;
}

#brand {
    color: white;
}



.modal70 > .modal-dialog {
    width:70% !important;
}

.xmlview {
    width:90% !important;
}


.foundlabel {
color: gray;
}



.logininfo {
    color: #FABCAD;
    width: 220px;
    position: absolute;
    top: 10px;
    right: 35px;
}

.logininfo a {
    color: #FFFFFF;
}
.logininfo a:focus { color: #FFFFFF; text-decoration:underline; }
.logininfo a:hover { color: #FFFFFF; text-decoration:underline; }
.logininfo a:active { color: #FFFFFF; text-decoration:underline; }


.release {
    position:relative;
    margin-top:50px;
    bottom:0;
    margin-left: 0;
    left:0px;
    bottom:7px
}

.standard-form-container {
    width: 600px;
    margin: 20px;
}

label {
    font-weight: bold;
}

.navbar .navbar-nav > .active{
    color: #000;
    background: #CA210E;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #ffffff;
    font-weight: bold;
    background: #CA210E;
}

.error {
color: red;
}

.existing {
 color: green;
}

.missing {
 color: red;
}

.container {
}

#content {
    min-height: 600px;
}