h1.main {
    font-size: 2em;
}

h2.main {
    font-size: 1.3em;
}

body {
  padding-top: 50px;
}
.content-wrapper {
  text-align: left;
}


a.navbar-brand:hover {
    text-decoration: underline;
}

#brand {
    color: white;
}



.modal70 > .modal-dialog {
    width:70% !important;
}

.xmlview {
    width:90% !important;
}


.foundlabel {
color: gray;
}



.logininfo {
    color: #FABCAD;
    width: 220px;
    position: absolute;
    top: 10px;
    right: 35px;
}

.logininfo a {
    color: #FFFFFF;
}
.logininfo a:focus { color: #FFFFFF; text-decoration:underline; }
.logininfo a:hover { color: #FFFFFF; text-decoration:underline; }
.logininfo a:active { color: #FFFFFF; text-decoration:underline; }

.standard-form-container {
    width: 600px;
    margin: 20px;
}

label {
    font-weight: bold;
}

.navbar .navbar-nav > .active{
    color: #000;
    background: #CA210E;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #ffffff;
    font-weight: bold;
    background: #CA210E;
}

.error {
color: red;
}

.errmsg {
color: red;
}
.existing {
 color: green;
}

.missing {
 color: red;
}

.container {
}

#content {
    min-height: 600px;
}

#container fieldset {
    border: 1px solid #dddddd;

    background-color: #F9F9F9;
    padding-top:1em;
    padding-bottom: 1em;
}

.emph {
    font-weight: bold;
}

/* django_tables2 bootstrap adaptions */
.table-container { width: 100%; }
.table-container table { width: 100% }
.table-container ul.pagination {
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #DDD;
    list-style: none;
}
.table-container ul.pagination > li > a {
    text-decoration: none;
    font-weight: bold;
}
.table-container ul.pagination li {
    float: left;
    line-height: 10px;
    margin-left: 10px;
}
.table-container ul.pagination li:first-child {
    margin-left: 0;
}

.table-container ul.pagination li.cardinality {
    float: right;
    color: #8d8d8d;
}