celery==5.2.1
Django==3.2.10
django-extensions==3.1.5
django-rest-swagger==2.2.0
django-tables2==2.4.1
django-widget-tweaks==1.4.9
django-formtools==2.3
django-bootstrap-form==3.4
djangorestframework==3.13.1
django-taggit==2.0.0
django-taggit-autosuggest==0.3.8
mysqlclient==2.1.0
flower==1.0.0
redis==4.0.2
requests==2.26.0
lxml==4.9.1
Pairtree==0.8.1
pika==1.2.0
xmltodict==0.12.0
py-dateutil==2.2
pycountry==20.7.3
# python-magic==0.4.15
rdflib==6.1.1
drf-yasg==1.20.0
djangorestframework-api-key==2.1.0
simplejson
uwsgi
importlib_resources
PyPDF2==1.26.0
bagit==1.8.1
PyICU==2.8
# eatb
-e git://github.com/E-ARK-Software/eatb.git#egg=eatb
#-e eatb
# python-magic
-e git://github.com/ahupp/python-magic.git#egg=python-magic
# fido (patched release 1.4.1)
git+git://github.com/openpreserve/fido.git@a82e85d89f4ef3805d7289615a6c356cff12b37b

