celery==5.4.0
Django==5.1.2
django-extensions==3.2.3
django-rest-swagger==2.2.0
django-tables2==2.7.0
django-widget-tweaks==1.5.0
django-formtools==2.5.1
django-bootstrap-form==3.4
djangorestframework==3.15.2
djangorestframework-api-key==3.0.0
django-taggit==6.1.0
django-taggit-autosuggest==0.3.8
mysqlclient==2.1.0
flower==2.0.1
redis==5.0.4
requests==2.32.2
lxml==5.2.2
Pairtree==0.8.1
pika==1.3.2
xmltodict==0.13.0
python-dateutil==2.9.0
pycountry==23.12.11
rdflib==7.0.0
drf-yasg==1.21.7
simplejson
uwsgi==2.0.25.1
importlib_resources==6.4.0
PyPDF2==3.0.1
bagit==1.8.1
charset-normalizer==3.4.0
eatb==0.2.6
python-magic==0.4.27
opf-fido==1.6.1
django-chartjs==2.3.0
wordcloud==1.9.3
matplotlib==3.9.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
pysolr==3.10.0