{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load static %}

{% block extra_head %}

    <script type="text/javascript" src="/static/earkweb/earkweb/jquery-1.11.2/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/static/earkweb/earkweb/jquery-1.11.2/jquery.form.min.js"></script>

    <!-- SIP creator javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreator.js' %}"></script>

    <!-- Polling -->
    <script type="text/javascript" src="{% static 'earkweb/js/polling.js' %}"></script>

    <!-- batch.html stylesheet -->
    <link rel="stylesheet" href="{% static "sipcreator/css/batch.css" %}" type="text/css" />

    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

    <script type="text/javascript" src="{% static 'earkweb/bootstrap-notify/bootstrap-notify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'earkweb/bootstrap-notify/bootstrap-notify.css' %}" type="text/css" />

    <script language="JavaScript">
    function enable_predef_idmap_def_div() {
        $('#predef_idmap_def').togglevisible();
    }
    $(".div_enabler").each(function() {
    $(this).attr("data-oldhref", $(this).attr("href"));
    $(this).removeAttr("href");
});

    </script>

{% endblock %}

{% block content %}

    {% include "sipcreator/about_module.html" %}

    <h2 class="main">Batch SIP creation</h2>

    <p>Run SIP creation for selected SIPs. For the selected open SIP creation processes, the batch process will create packages including basic metadata and store the resulting
        SIP directly in the reception area so that the SIP can be ingested. </p>

    <p><button id="batch-apply-task" type="submit" class="btn btn-primary" onclick="return false" >Run batch SIP creation!</button></p>

    <div id="nextnote" style="display:none">
         <p>Montitor batch execution progress: <a href="{{ flower_url }}">Flower</a></p>
         <p>Batch execution result: <a href="{% url 'sip2aip:batch' %}">SIP reception area</a></p>
        <p>The SIP creation processes will remain open to allow recreating the SIP.</p>
    </div>


    <table id="receptiontable" class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
		<th class="filecol">Package file</th>
		<th class="daticol">Date/time</th>
        <th class="statcol">Last task</th>
        <th class="statcol">Outcome</th>
        <th class="statcol">Selected</th>
      </tr>
    </thead>
    <tbody id="iplist">
        {% for ip in sips %}
            <tr>
                <td><a href="{% url 'sip2aip:ip_detail' ip.pk %}" title='Detail information'>{{ ip.package_name }}</a></td>
                <td>{{ ip.last_change|date:"d.m.Y H:i:s" }}</td>
                <td>{{ ip.last_task }}</td>
                <td><span id="st{{ ip.uid }}" class="label label-default open">Open</span></td>
                <td><input id="ip{{ ip.uid }}" name="ipselect" value="{{ ip.uid }}" type="checkbox" checked="checked"/></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

    <script language="JavaScript">
        var selected = Array();
        //$('#batch-apply-task').attr("disabled", "disabled");

        function changeLabel(labelid, oldlabel, newlabel, newlabeltext) {
            $(labelid).removeClass(oldlabel.toLowerCase());
            $(labelid).addClass(newlabel.toLowerCase());
            $(labelid).text(newlabeltext);
        }
        function run_all() {
            $('#batch-apply-task').prop('disabled', true);
              $("input:checkbox[name=ipselect]:checked").each(function() {
                   selected.push($(this));
              });
              for(var i=0; i<selected.length; i++) {
                window.console.log(selected[i].val());
                var uid = selected[i].val();
                label_id = '#st'+uid;
                changeLabel(label_id, "Open", "Queued", "Queued");
                $('#ip'+uid).attr("disabled", "disabled");
                $.ajax({
                url: "/earkweb/sipcreator/submit_sipcreation_batch/" +  uid + "/",
                method: "POST",
                async: true,
                data: { },
                success: function(json_result) {
                    var proc_pack_status_id = '#st'+json_result.uid;
                    changeLabel(proc_pack_status_id, "Queued", "Processing", "Processing");
                    $('#nextnote').css("display", "block");
                },
                });
              }
              $('.top-right').notify({
                        message: { text: 'SIP creation process started!'}
              }).show();
        }
        $('#batch-apply-task').click(run_all);
    </script>
{% endblock %}