{% extends "earkweb/base.html" %}

{% load dictionary_extras %}

{% load static %}
{% load i18n %}

{% block extra_head %}

    <!-- Submission area javascript -->
    <script type="text/javascript" src="{% static 'submission/js/submission.js' %}"></script>

{% endblock %}

{% block content %}

    {% if process_id %}

    {% include "submission/about_module.html" %}

    <h2 class="main">{% trans 'Delete confirmation' %}</h2>

    <p>{% trans 'Information package working directory deleted' %}: '{{ process_id }}'</p>

    <p><a href="{% url 'submission:index' %}">{% trans 'Back to overview' %}</a></p>

    {% endif %}


{% endblock %}
