{% extends "earkweb/base.html" %}

{% load dictionary_extras %}

{% load static %}
{% load i18n %}

{% block extra_head %}

    <!-- Submission area javascript -->
    <script type="text/javascript" src="{% static 'submission/js/submission.js' %}"></script>

{% endblock %}

{% block content %}

    {% if uid %}

    {% include "submission/about_module.html" %}

    <h2 class="main">{% trans 'Delete confirmation' %}</h2>

    <p>{% trans 'Information package working directory deleted' %}: '{{ uid }}'</p>

    <a data-toggle="tooltip" title="{% trans 'Back to overview' %}" href="{% url 'submission:overview' %}" class="btn btn-eark">
        {% trans 'Back' %}
    </a>

    {% endif %}


{% endblock %}
