{% extends "earkweb/base.html" %}

{% load static %}
{% load i18n %}
{% block extra_head %}

    <!-- Submission area javascript -->
    <script type="text/javascript" src="{% static 'submission/js/submission.js' %}"></script>
    <link rel="stylesheet" href="{% static "submission/css/submission.css" %}" type="text/css" />

    <link rel="stylesheet" href="{% static "submission/css/start.css" %}" type="text/css" />

    <script type="text/javascript">
    var task_ready_msg = "{% trans 'Package creation task completed!' %}";
    var task_error_msg = "{% trans 'An error occurred while trying to execute the task!' %}";
    var flowerHost = '{{flower_host}}'; var flowerPort = '{{flower_port}}'; var flowerPath = '{{flower_path}}';
    </script>
    <script type="text/javascript" src="{% static 'workflow/js/pollstate.js' %}"></script>
    <script type="text/javascript">
    $( document ).ready(function() {
        $('#reviewbtn').addClass('disabled');
        pollstate('{{ jobid }}');
    });
    </script>
    <link rel="stylesheet" href="{% static "workflow/css/execution.css" %}" type="text/css" />


    <script type="text/javascript" src="{% static 'earkweb/js/csrfajax.js' %}"></script>
    <link rel="stylesheet" href="{% static "earkweb/termynal/termynal.css" %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono">
    <script>
	$( document ).ready(function() {
          setInterval(function(){get_contents();}, 1000);
          function get_contents() {
            console.log("called");
            $.get('/earkweb/api/ips/{{ip.uid}}/file-resource/processing.log/', function(data) {
                console.log();
                var lines = data.split('\n');
                var newcontent = '';
                // (lines.length - 10)
                for(var i = 0;i < lines.length;i++){
                    newcontent += '<span data-ty="input">'+lines[i]+'</span>';
                }
                $('#termynal').html(newcontent);
                //$('#termynal').scrollTop = $('#termynal').scrollHeight;
                if($("#follow-log-entries").is(':checked')) {
                    var objDiv = document.getElementById("termynal");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
              });
          }
	});
	</script>
{% endblock %}

{% block content %}

    {% include "submission/about_module.html" %}

    <h2>{% trans 'Information package creation' %}</h2>

    <p id="confirmation">{% trans 'Submission information package creation process is running.' %}</p>

    {% if not flower_status %}
    <div>
    <p style="color: #FF8000">{% trans 'Warning: no task monitoring available because the task monitoring service is not running at' %}: {{ flower_api_endpoint }}</p>
    </div>
    {% endif %}

    <p><progress id="progress" max="100" value="0"></progress></p>

    <p id="childjobs"></p>

    <div id="errordiv">
        <p  id="error"><span id="errmsg"></span>: <span id="errdetail"></span></p>
    </div>

    <div id="termynal" data-termynal style="overflow:scroll; height:400px">

    </div>

    <script type="text/javascript" src="{% static 'earkweb/termynal/termynal.js' %}" data-termynal-container="#termynal"></script>
     <div class="form-check" style="left: -30px">
      <label for="follow-log-entries">
        Follow log entries
      </label>
      <input type="checkbox" id="follow-log-entries"  style="margin-top: 8px" checked>
    </div>

    <div style="clear:both"><a id="reviewbtn" class="btn btn-primary" type="button" href="{% url 'submission:upload_finalize' ip.id %}">{% trans 'Review submission information package' %}</a></div>

{% endblock %}
