{% extends "earkweb/base.html" %}
{% load dictionary_extras %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}
{% block extra_head %}

    <!-- Submission area javascript -->
    <script type="text/javascript" src="{% static 'submission/js/submission.js' %}"></script>

{% endblock %}

{% block content %}

    {% include "submission/about_module.html" %}

    <h2 class="main">{% trans 'OpenSubmissions' %}</h2>

    <p><input type="text" id="filterchars" placeholder="{% trans 'SearchInternalLabelOrIdentifier' %}" style="width: 28em">
    <!--<button onclick="window.location='?refresh=table';" id="refreshtable" style="float:right" class="btn">-->
        <!--<span class="glyphicon glyphicon-refresh"></span> Refresh-->
    <!--</button>-->
    </p>

    <div id="ips-table">
        {% render_table informationpackage %}
    </div>

{% endblock %}
