td.filename {
    color: gray;
}

.applicationxml {
    color: gray;
}


.applicationzip {
    color: gray;
}

span.applicationxtar {
    color: gray;
}

.received {
    background-color: DarkGray;
}


.running {
    background-color: DarkOrange;
}


.processed {
    background-color: DarkGreen;
}

.error {
    background-color: DarkRed;
}

#receptiontable {
    display: table;
    width: 100%;
}
#receptiontable th.filecol {
    width: 30%;
}
#receptiontable th.daticol {
    width: 30%;
}
#receptiontable th.mimecol {
    width: 20%;
}
#receptiontable th.statcol {
    width: 20%;
}