td.filename {
    color: gray;
}

.applicationxml {
    color: gray;
}


.applicationzip {
    color: gray;
}

span.applicationxtar {
    color: gray;
}

.received {
    background-color: DarkGray;
}


.running {
    background-color: DarkOrange;
}


.processed {
    background-color: DarkGreen;
}