label {
   float: left;
   width: 150px;
   margin-right: 15px;
   padding-top: 2px;
   text-align: right;
}

#apply-task {
   margin-left:20px;
}

.pgsuccess {
   background-color: green;
}

.pgwarning {
   background-color: #F29610;
}

#id_wfs {

}

.helptext {

}

progress.ready{
  background-color:#169816;
  color:#169816;
  }
progress.ready[value] {color:#169816} /* IE10 */
progress.ready::-webkit-progress-bar-value {background-color:#169816}
progress.ready::-webkit-progress-value {background-color:#169816}
progress.ready::-moz-progress-bar {background-color:#169816}

progress.error{
  background-color:#C6212C;
  color:#C6212C;
  }
progress.error[value] {color:#169816} /* IE10 */
progress.error::-webkit-progress-bar-value {background-color:#C6212C}
progress.error::-webkit-progress-value {background-color:#C6212C}
progress.error::-moz-progress-bar {background-color:#C6212C}

progress::-moz-progress-bar { background: #999B9B; }
progress::-webkit-progress-value { background: #999B9B; }
progress { color: #999B9B; }
progress {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  width: 500px;
  -webkit-appearance: none;
   appearance: none;

  height: 20px;
}