.progress {
   width:100%;
   background:gray;
}

label {
   float: left;
   width: 150px;
   margin-right: 15px;
   padding-top: 2px;
   text-align: right;
}

#apply-task {
   margin-left:20px;
}

.pgsuccess {
   background-color: green;
}

.pgwarning {
   background-color: #F29610;
}

#id_wfs {

}

.helptext {

}