body {
  padding-top: 50px;
}
.content-wrapper {
  padding-top: 10px;
  text-align: left;
  font-size: 0.8em;
}


a.navbar-brand:hover {
    text-decoration: underline;
}

#brand {
    color: white;
}



.modal70 > .modal-dialog {
    width:70% !important;
}

.xmlview {
    width:90% !important;
}


.foundlabel {
color: gray;
}



