<h1>SIP Creation</h1>

<p>A Submission Information Package (SIP) is defined in the <a href="http://public.ccsds.org/publications/archive/650x0m2.pdf" target="_blank">OAIS model</a> as an Information
    Package that is delivered by the Producer to the OAIS for use in the construction or update of one or more Archival Information Packages (AIPs).<p>

<p>The SIP Creator is a web-based interface allowing the creation of E-ARK Submission Information Packages (SIPs). Files can be uploaded to the corresponding sections (content,
    documentation and metadata) of the container and a set of tasks allows transforming the SIP into the required format.</p>