{% extends "earkweb/base.html" %}

{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreator.js' %}"></script>

{% endblock %}

{% block content %}

    {% if uuid %}


    {% include "sipcreator/about_module.html" %}

    <h2 class="main">Delete confirmation</h2>

    <p>Process '{{ uuid }}' was deleted!</p>

    <p><a href="{% url 'sipcreator:index' %}" title='Back to overview'>back</a></p>

    {% endif %}


{% endblock %}
