{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreator.js' %}"></script>
    <link rel="stylesheet" href="{% static "sipcreator/css/sipcreator.css" %}" type="text/css" />



    <link rel="stylesheet" href="{% static 'sipcreator/css/workingarea.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'earkweb/jstree/dist/themes/default/style.min.css' %}" />
    <script src="{% static 'earkweb/jstree/dist/jstree.min.js' %}"></script>

    <script language="javascript">
    var uuiddescriptivemetadata='{{ ip.uuid }}/metadata/descriptive';
    var uuidmschemas='{{ ip.uuid }}/representations/rep-001/schemas';
    var uuiddocumentation='{{ ip.uuid }}/representations/rep-001/documentation';
    //var uuid='{{ ip.uuid }}/representations/rep-001/data';
    var uuid = '{{ ip.uuid }}';
    var rep = '{{ rep }}'
    </script>

    <!-- index.html javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/detail.js' %}"></script>
    <link rel="stylesheet" href="{% static "sipcreator/css/detail.css" %}" type="text/css" />
{% endblock %}

{% block content %}

    <h1 class="main">SIP Creator</h1>


    <div id="sctable" style="float:left; width: 80%;padding-right: 20px">
    <table id="tblsc" class="table table-striped table-bordered table-condensed">
      <tr><td colspan="2">
            {% csrf_token %}

              <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="control-label col-sm-2" style="padding-top: 0px">Package name:</label>
                    <div class="col-sm-10 bold">
                      {{ ip.packagename }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" style="padding-top: 0px">Process ID:</label>
                    <div class="col-sm-10 bold">
                      {{ ip.uuid }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" style="padding-top: 0px">&nbsp;</label>
                    <div class="col-sm-10">
                      <a href="#" onclick="$('#childrow').togglevisible()">Child-package options</a>
                    </div>
                  </div>
                  <div id="childrow" class="form-group" style="display: none">
                    <label class="control-label col-sm-2" for="parent">Parent:</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="parent"/>
                    </div>
                  </div>
                </form>



      </td></tr>
      {% if ip.uuid %}
      <tr>
        <td rowspan="3" style="vertical-align: middle; width: 170px">
                <div class="col-xs-1 col-xs-offset-0">
                    <div id="reperr" style="color: red; font-size: 80%; width: 150px"></div>
                    <div class="input-group">
                        <input id="repval" type="text" style="width: 130px" class="form-control small" value="{{ rep }}">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" onclick="addRep($(this))"><span class="glyphicon-plus"></span></button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" role="menu">
                                {% for repr_dir in repr_dirs %}
                                    <li ng-repeat="color in colors" class="input-sm"><a href="#" onclick="changeRep($(this)[0].text)">{{ repr_dir }}</a></li>
                                {% endfor %}
                            </ul>idelm.val()
                        </div>
                    </div>
                </div>


        </td>
        <td id="content-folder">
            <div class="directorytree" id="dirtree-content"></div>
            <form onchange="$('#content-folder-rep').val($('#repval').val()); $(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'representations' %}" method="post" enctype="multipart/form-data">
                <input id="content-folder-rep" name="rep" type="hidden" value=""/>
                <input id="content-folder-sf" name="subdir" type="hidden" value="data"/>
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      <tr>
        <td id="documentation-folder">
            <div class="directorytree" id="dirtree-documentation"></div>
            <form onchange="$('#documentation-folder-rep').val($('#repval').val()); $(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'representations' %}" method="post" enctype="multipart/form-data">
                <input id="documentation-folder-rep" name="rep" type="hidden" value=""/>
                <input id="documentation-folder-sf" name="subdir" type="hidden" value="documentation"/>
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      <tr>
        <td id="schemas-folder">
            <div class="directorytree" id="dirtree-schemas"></div>
            <form onchange="$('#schemas-folder-rep').val($('#repval').val()); $(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'representations' %}" method="post" enctype="multipart/form-data">
                <input id="schemas-folder-rep" name="rep" type="hidden" value=""/>
                <input id="schemas-folder-sf" name="subdir" type="hidden" value="schemas"/>
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      <tr>
        <td id="metadata-folder" colspan="2">
            <div class="directorytree" id="dirtree-metadata"></div>
            <form onchange="$(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'metadata/descriptive' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>

      </tr>

      {% endif %}
    </table>

    <a id="proceedbtn" class="btn btn-primary" type="button" href="{% url 'sipcreator:update_parent_identifier' ip.id %}">Proceed</a>


    <button style="margin-left: 30px" class="btn btn-default" data-href="{% url 'sipcreator:delete' ip.id %}" data-toggle="modal" data-target="#confirm-delete">
        Delete
    </button>

    <script src="{% static 'sipcreator/js/workingarea.js' %}"></script>
    <!-- modal delete confirmation -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete confirmation
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this process?</p>
                    <p>The package including all uploaded data will be removed.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div style="padding-left: 50px; width: 25%">
        <table class="table table-striped table-bordered table-condensed" style="height: 627px">
            <tr><td style="background-color: white">
                <b>Help</b>

        <p>An E-ARK SIP has three folders at the root level.
            <ul><li>The "data" directory contains the actual content and is split into a "content" and "documentation" folder to separate
            the digital objects themselves from documentation that is included to help interpreting them.</li><li>The "metadata" folder contains metadata files
            describing the digital object as well as technical, rights related or digital provenance metadata. </li>
                <li>The "schemas" folder contains XMLSchema files needed to validate XML documents of the information package.</li>
                </ul>
                </p>
                <p>Click 'Browse ...' to select a file from the local file system, then click 'add' to upload the file.
                <p>A tar file can be uploaded and will be automatically unpacked.</p>
            </td></tr>
        </table>

    </div>
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });

    function changeRep(rep) {
        var repr_value = rep;
        window.console.log( "Change to rep: " +  repr_value );
        tourl = "/earkweb/sipcreator/detail/{{ pk }}/"+repr_value+"/"
        window.console.log( "Change to URL: " +  tourl );
        window.location.href = tourl
    }

    function addRep(rep) {
        var rep_value = $('#repval').val();
        var re = new RegExp("^[A-Za-z]{1,1}[A-Za-z0-9_-]{3,200}$");
        if(re.test(rep_value)) {
            $.ajax({
                url: "{% url 'sipcreator:add_representation' ip.id %}",
                type: "POST",
                data: "representation="+$('#repval').val(),
            }).success(function(json_response){
                window.console.log(json_response);
                if(json_response.success == true)
                    changeRep(json_response.representation);
                else
                    $('#reperr').html(json_response.message);
            });
        } else
            $('#reperr').html("Only alphanumerical characters with minimum length 4 and maximum length 200 allowed!");
    }

    </script>




{% endblock %}
