{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreator.js' %}"></script>
    <link rel="stylesheet" href="{% static "sipcreator/css/sipcreator.css" %}" type="text/css" />

    <script type="text/javascript" src="{% static 'earkweb/bootstrap-notify/bootstrap-notify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'earkweb/bootstrap-notify/bootstrap-notify.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'sipcreator/css/workingarea.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'earkweb/jstree/dist/themes/default/style.min.css' %}" />
    <script src="{% static 'earkweb/jstree/dist/jstree.min.js' %}"></script>

    <script language="javascript">
    var uuid = '{{ ip.uuid }}';
    var rep = '{{ rep }}';
    var add_rep_url = '{% url 'sipcreator:add_representation' ip.id %}';
    var sip_detail_url = '/earkweb/sipcreator/detail/{{ pk }}/';
    </script>

    <!-- index.html javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/detail.js' %}"></script>
    <link rel="stylesheet" href="{% static "sipcreator/css/detail.css" %}" type="text/css" />
{% endblock %}

{% block content %}

    <h1 class="main">SIP Creator</h1>

    <div id="sctable" style="float:left; margin-right: 10px">
    <table id="tblsc" class="table table-striped table-bordered table-condensed">
      <tr><td colspan="2">
        {% csrf_token %}
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="control-label col-sm-2" style="padding-top: 0px">Package name:</label>
            <div class="col-sm-10 bold">
              {{ ip.packagename }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" style="padding-top: 0px">Process ID:</label>
            <div class="col-sm-10 bold">
              {{ ip.uuid }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" style="padding-top: 0px">&nbsp;</label>
            <div class="col-sm-10">
              <a href="#" onclick="if($('#childrow').css('display') != 'inline') { $('#parentnote').notify({ message: { text: 'Note: The parent identifier must match an existing package identifier (red font color means that no identifier can be found, green font color means that the identifier is matched and saved).' }, type: 'info' }).show(); }; $('#childrow').togglevisible();">Child-package options</a>
            </div>
          </div>
          <div id="parentnote" class="form-group" style="padding-left: 13em; width: 65em"></div>

          <div id="childrow" class="form-group" style="display: none">
            <label class="control-label col-sm-2" for="parent">Parent:</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="parent"/>
            </div>
          </div>
        </form>
      </td></tr>
      {% if ip.uuid %}
      <tr>
        <td rowspan="3" style="vertical-align: middle; width: 170px">
            <div class="col-xs-1 col-xs-offset-0">
                <div id="reperr" style="color: red; font-size: 80%; width: 150px"></div>
                <div id="reprnote"style="width: 195px"></div>

                <div class="input-group">
                    <input id="repval" type="text" style="width: 120px" class="form-control small" value="{{ rep }}"  data-toggle="tooltip" title="The text field shows the current representation with the corresponding subfolder directory tree views on the right or it can be used to create a new representation by typing in another representation name and adding it by clicking on the 'plus' symbol beneath.">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" onclick="addRep($(this), add_rep_url)" data-toggle="tooltip" title="Add a new representation with the new name given in the text box beneath."><span class="glyphicon-plus"></span></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="Choose another existing representation and load the corresponding subfolder directory tree views."><span class="caret"></span></button>
                        <ul id="color-dropdown-menu" class="dropdown-menu dropdown-menu-right" role="menu">
                            {% for repr_dir in repr_dirs %}
                                <li ng-repeat="color in colors" class="input-sm"><a href="#" onclick="changeRep($(this)[0].text, sip_detail_url)">{{ repr_dir }}</a></li>
                            {% endfor %}
                        </ul>idelm.val()
                    </div>
                </div>
            </div>
        </td>
        <td id="content-folder">
            <div class="directorytree" id="dirtree-content" data-toggle="tooltip" title="The actual content data of this representation."></div>
            <form onchange="$('#content-folder-rep').val($('#repval').val()); $(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'representations' %}" method="post" enctype="multipart/form-data">
                <input id="content-folder-rep" name="rep" type="hidden" value=""/>
                <input id="content-folder-sf" name="subdir" type="hidden" value="data"/>
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      <tr>
        <td id="documentation-folder">
            <div class="directorytree" id="dirtree-documentation" data-toggle="tooltip" title="Documentation which relates to this representation."></div>
            <form onchange="$('#documentation-folder-rep').val($('#repval').val()); $(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'representations' %}" method="post" enctype="multipart/form-data">
                <input id="documentation-folder-rep" name="rep" type="hidden" value=""/>
                <input id="documentation-folder-sf" name="subdir" type="hidden" value="documentation"/>
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      <tr>
        <td id="schemas-folder">
            <div class="directorytree" id="dirtree-schemas" data-toggle="tooltip" title="The XML schemas used to validate to XML instances of this representation."></div>
            <form onchange="$('#schemas-folder-rep').val($('#repval').val()); $(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'representations' %}" method="post" enctype="multipart/form-data">
                <input id="schemas-folder-rep" name="rep" type="hidden" value=""/>
                <input id="schemas-folder-sf" name="subdir" type="hidden" value="schemas"/>
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      <tr>
        <td id="metadata-folder" colspan="2">
            <div class="directorytree" id="dirtree-metadata" data-toggle="tooltip" title="The metadata which relates to the information package as a whole. Note that only descriptive metadata can be uploaded to the 'metadata/descriptive' folder.!"></div>
            <form  onchange="$(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'metadata/descriptive' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      <tr>
        <td id="rootschemas-folder" colspan="2">
            <div class="directorytree" id="dirtree-rootschemas" data-toggle="tooltip" title="The XML schemas which relate to the information package as a whole."></div>
            <form  onchange="$(this).submit();" action="{% url 'sipcreator:add_file' ip.uuid 'schemas' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span style="float:left">{{ uploadFileForm.as_p }}</span>
            </form>
        </td>
      </tr>
      {% endif %}
    </table>

    <a id="proceedbtn" class="btn btn-primary" type="button" href="{% url 'sipcreator:update_parent_identifier' ip.id %}">Proceed</a>

    <button style="margin-left: 30px" class="btn btn-default" data-href="{% url 'sipcreator:delete' ip.id %}" data-toggle="modal" data-target="#confirm-delete">
        Delete
    </button>

    <script src="{% static 'sipcreator/js/workingarea.js' %}"></script>
    <!-- modal delete confirmation -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete confirmation
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this process?</p>
                    <p>The package including all uploaded data will be removed.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- help div -->
    <div>

        <table>
            <tr><td>
                <p><b>Help</b></p>

                <p>In the E-ARK SIP, each representation - as a set of files needed to render an intellectual entity - is stored in a separate directory under the "representations"
                    directory.</p>

                <p>It is required to give a name to the representation which will be used as the name of the directory where the actual data, additional
                    documentation, and schemas can be uploaded to.</p>

                 <p>To create a new representation, enter the name (at least 4 characters long) in the editable select box and click the "plus" symbol which will enable the upload
                     area of the new representation.</p>

                 <p>To switch between existing representations choose the representation from the select box ('caret' symbol next to the "plus" symbol).</p>

                <p>If the upload area of the representation is loaded, files can be uploaded by clicking on 'Browse ...' and selecting a file from the local file system.</p>

                <p>Package a set of files using the <a href="https://en.wikipedia.org/wiki/Tar_(computing)">tar</a> format to upload a collection of files which are automatically
                    extracted in the upload directory.</p>

                <p>Hover your mouse over the user interface widgets to get more information about the individiual elements.</p>

            </td></tr>
        </table>

    </div>


{% endblock %}
