{% extends "earkweb/base.html" %}

{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreator.js' %}"></script>

    <!-- index.html javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreation.js' %}"></script>
    <link rel="stylesheet" href="{% static "sipcreator/css/sipcreation.css" %}" type="text/css" />

    <!-- task/workflow execution -->
    <script type="text/javascript" src="{% static 'workflow/js/execution.js' %}"></script>
    <link rel="stylesheet" href="{% static 'workflow/css/execution.css' %}" type="text/css" />

{% endblock %}

{% block content %}

    {% include "sipcreator/about_module.html" %}

    <h2 class="main">SIP creation task/workflow execution</h2>

    {% include "sipcreator/iptable.html" %}

    {% include "workflow/execution_form.html" %}

    <!-- current_ip variable used in subsequent scripts (as the IP is selected, the corresponding form field is hidden) -->
    <script type="text/javascript">var current_ip="{{ ip.id }}"; $("#id_ips").val({{ ip.id }}); $("#id_ips").parent().nodisplay();</script>

    {% include "workflow/progress_module.html" %}

    <p><a href="{% url 'sipcreator:index' %}" title='Back to overview'>back</a></p>


{% endblock %}
