{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreator.js' %}"></script>
    <link rel="stylesheet" href="{% static "sipcreator/css/sipcreator.css" %}" type="text/css" />

    <link rel="stylesheet" href="{% static "sipcreator/css/start.css" %}" type="text/css" />

{% endblock %}

{% block content %}

    <h1>SIP Creation</h1>

    <form>
    {% csrf_token %}
    <table id="headtable">
        <tr>
            <td class="fn"><label for="packagename" style="float: left; font-weight: bold">Package name</label></td>
            <td class="fv"><input type="text" style="float: left;width: 30em" class="form-control" id="packagename" name="packagename" placeholder="PACKAGE.NAME.000" value="{{ ip.packagename }}"> <span class="errmsg" id="msgpackagename"></span></td>
        </tr>
    </table>
    </form>

    <button id="initialize" type="submit" class="btn btn-primary">Initialize</button>

    <script type="text/javascript" src="{% static 'sipcreator/js/start.js' %}"></script>

{% endblock %}
