{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <!-- SIP to AIP javascript -->
    <script type="text/javascript" src="{% static 'sipcreator/js/sipcreator.js' %}"></script>


    <link rel="stylesheet" href="{% static 'sip2aip/css/workingarea.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'earkweb/jstree/dist/themes/default/style.min.css' %}" />
    <script src="{% static 'earkweb/jstree/dist/jstree.min.js' %}"></script>

{% endblock %}

{% block content %}

<h1>SIP Creation</h1>

<p>Working directory of process: {{ uuid }}</p>

<div id="directorytree"></div>

<script language="javascript">var uuid='{{ uuid }}';</script>
<script src="{% static 'sip2aip/js/workingarea.js' %}"></script>

<p id="event_result"></p>

<p><a href="{% url 'sipcreator:sipcreation' %}" title='Back to overview'>back</a></p>

{% endblock %}