{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

{% endblock %}

{% block content %}

    {% include "datamining/about_module.html" %}

    <h2 class="main">Prepare and launch a new Celery task for NLP</h2>

    <p>You need to define input and select which NLP tool(s) should be used.</p>

    <div class="standard-form-container">

        <!--form class="form-horizontal" role="form" method="POST" action="celery_nlp" enctype="multipart/form-data"-->
        <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>NLP via Celery: Task configuration</legend>
            {% csrf_token %}

            <!-- TODO: dynamically list all tools and actions that are possible? -->
            <p>Please provide the package identifier and the content type of the files you want to process:</p>
            <p>{{ solr_query_form.as_p }}</p>

            <p>Select the NLP tools that should be applied on the data above:</p>
            <p>{{ ner_model_select.as_p }}</p>
            <p>{{ categoriser_select }}</p>

            <input type="submit" value="Start" />
        </fieldset>
    </form>


    </div>

{% endblock %}