<h1>AIP to DIP conversion</h1>

<p>The Dissemination Information Package (DIP), as defined in the  <a href="http://public.ccsds.org/publications/archive/650x0m2.pdf" target="_blank">OAIS reference model</a>, is
    the information package which is received by the consumer in response to a request for content.</p>

<p>The AIP to DIP conversion is a set of tasks that can be performed to convert E-ARK AIPs &ndash; which means that they must comply with
    structural and metadata requirements defined by the E-ARK project &ndash; to an E-ARK DIP.</p>