{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <script type="text/javascript"
        src="{% static "earkweb/jquery-1.11.2/jquery-1.11.2.js" %}">
    </script>
    <script type="text/javascript"
        src="{% static "earkweb/jquery-1.11.2/jquery.form.min.js" %}">
    </script>
    
    <script type="text/javascript"
        src="{% static 'search/js/packsel.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />  
      
{% endblock %}

{% block content %}

<h1><a href="{% url 'search:dip' dip.name %}">{{ dip.name }}</a> > {{ aip.identifier }}</h1>

<p>TODO: list TAR entries</p>

{% endblock %}
