{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <script type="text/javascript"
        src="{% static "earkweb/jquery-1.11.2/jquery-1.11.2.js" %}">
    </script>
    <script type="text/javascript"
        src="{% static "earkweb/jquery-1.11.2/jquery.form.min.js" %}">
    </script>
    
    <script type="text/javascript"
        src="{% static 'search/js/demosearch_govdocs.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/demosearch.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "search/css/demosearch_govdocs.css" %}" type="text/css" />

      
{% endblock %}

{% block content %}
  <div class="content">
    <h1>Find files in GovDocs Corpus</h1>
    <div class="left-box">
      <form name="find">
        <div>
          <div class="label">
            <label for="queryString">contained word</label>
          </div>
          <input id="queryString" class="input" type="text" name="queryString">
        </div>
        <div>
          <div class="label">
            <label for="package">package</label>
          </div>
          <input id="package" class="input" type="text" name="package">
        </div>
        <div>
          <div class="label">
            <label for="contentTypes">content type</label>
          </div>
          <select id="contentTypes" class="input" name="contentTypes" size="8" multiple>
            <option value="text/csv">csv</option>
            <option value="application/msword">doc</option>
            <option value="text/html">html</option>
            <option value="application/pdf">pdf</option>
            <option value="text/plain">txt</option>
            <option value="application/xhtml+xml">xhtml</option>
            <option value="application/vnd.ms-excel">xls</option>
            <option value="application/xml">xml</option>
          </select>
        </div>
        <div>
          <div class="label">
            <label for="sort">sort</label>
          </div>
          <select id="sort" class="input" name="sort">
            <option value="">relevance</option>
            <option value="size asc">size (ascending)</option>
            <option value="size desc">size (descending)</option>
          </select>
        </div>
        <input type="button" value="Search" onclick="askSolr(0)">
      </form>
    </div>
    <div class="right-box">
      <div id="output" class="output"></div>
    </div>
  </div>
{% endblock %}
