{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'search/js/pubsearch.js' %}"></script>
    
    <script type="text/javascript"
        src="{% static 'search/js/packsel.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />
      
{% endblock %}

{% block content %}

        <div><ul>
           <li><a href="demosearch/govdocs">Govdocs</a></li>
            <li><a href="demosearch/news">News</a></li>
            <li><a href="demosearch/news">Package</a></li>
       </ul></div>
{% endblock %}
