{% extends "earkweb/base.html" %}

{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'search/js/aip2dip.js' %}"></script>

    <script type="text/javascript" src="{% static 'search/js/dip.js' %}"></script>

    <script type="text/javascript" src="{% static 'workflow/js/execution.js' %}"></script>
    <link rel="stylesheet" href="{% static 'workflow/css/execution.css' %}" type="text/css" />

    <script type="text/javascript"  src="{% static 'search/js/packsel.js' %}"></script>

    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />  
      
{% endblock %}

{% block content %}

    {% include "search/about_module.html" %}

    <h2 class="main">DIP task/workflow execution</h2>

<p>The following table gives an overview about the information package.</p>

<div id="dip-detail-table">
    {% include "search/diptable.html" %}
</div>



<div id="file-upload">

    <form action="{% url 'search:attach_aip' dip.name %}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <legend>File upload</legend>
            <p>Additional files can be uploaded into the working area of this DIP creation process:</p>
            {% csrf_token %}
            {{ uploadFileForm.as_p }}
            <p><button type="submit">Add selected AIP</button></p>
        </fieldset>
    </form>

</div>

{% include "workflow/execution_form.html" %}

<p>The progress of task/workflow execution can be observed in the following progress bar. When leaving this page, task execution is continued, but progress is not shown any more.</p>

<!-- current_ip variable used in subsequent scripts (as the IP is selected, the corresponding form field is hidden) -->
<script type="text/javascript">var current_ip="{{ ip.id }}"; $("#id_ips").val({{ ip.id }}); $("#id_ips").parent().nodisplay();</script>

{% include "workflow/progress_module.html" %}

<p><a href="{% url 'search:packsel' %}" title='Back to overview'>back</a></p>

{% endblock %}
