{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}
    
    <script type="text/javascript"
        src="{% static 'search/js/packsel.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />  
      
{% endblock %}

{% block content %}

<h1>{{ dip.name }}</h1>

<form action="{% url 'search:acquire_aips' dip.name %}" method="post">
    {% csrf_token %}
    {% for aip in dip.aips.all %}
        <p><a href="{% url 'search:aip' dip.name aip.identifier %}">{{ aip.identifier }}</a></p>
    {% endfor %}
    <input type="submit" value="acquire AIPs" />
</form>
<br>
<form action="{% url 'search:attach_aip' dip.name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ uploadFileForm.as_p }}
    <input type="submit" value="attach local AIP" />
</form>

{% endblock %}
