{% load dictionary_extras %}
<table  class="table table-striped table-bordered table-condensed">
    <tbody>
        <tr>
            <td class="emph">Package name</td>
            <td class="emph">{{ ip.packagename }}</td>
        </tr>

		{% if ip.identifier %}
    	<tr class="row2">
    		<td data-toggle="tooltip" title="DIP identifier">DIP Identifier</td>
    		<td>{{ ip.identifier }}</td>
    	</tr>
        {% endif %}
        <tr>
            <td>Process ID</td>
            <td>{{ ip.uuid }}</td>
        </tr>
        <tr class="row1">
			<td>Working area path</td>
			<td>
				{% if ip.path != '' %}
				<a href="{% url 'sip2aip:working_area' 'aip2dip' ip.uuid %}" title='DIP in working area'>{{ config_path_work }}/{{ ip.uuid }}</a>
				{% else %}
				--
				{% endif %}
			</td>
		</tr>
        {% if ip.path != '' %}
        <tr>
            <td>Selected AIPs</td>
            <td>
                <table>
                {% for aip in dip.aips.all %}
                    <tr>
                        <td style="padding:3px">{{ aip.identifier }}</td>
                        <td style="padding-left:10px">
                            {% if aip.source_available %}
                            <span data-toggle="tooltip" title="AIP is accessible" class="glyphicon glyphicon-ok-sign"/>
                            {% else %}
                            <span data-toggle="tooltip" title="AIP is NOT accessible" class="glyphicon glyphicon-question-sign"/>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
                {% if not dip.aips.all %}
                    <a href="{% url 'search:search' dip.name|urlencode %}">Select AIPs</a>
                {% else %}
                    <a href="{% url 'search:search' dip.name|urlencode %}">Modify selection</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if ip.statusprocess > 10000 %}
		<tr class="row1">
			<td>Working area path</td>
			<td><a href="{% url 'search:working_area' 'aip2dip' ip.uuid %}" title='Package in working area'>{{ config_path_work }}/{{ ip.uuid }}</a></td>
		</tr>
		{% endif %}
    	<tr class="row2">
    		<td data-toggle="tooltip" title="Public identifier">Last task <a href="{% url 'search:help_processing_status' %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:gray"></span></a></td>
    		<td>{{ ip.last_task }}</td>
    	</tr>
		<tr class="row2">
    		<td data-toggle="tooltip" title="Public identifier">Last change</td>
    		<td>{{ ip.last_change|date:"d.m.Y H:i:s" }}</td>
    	</tr>
        <tr class="row1">
    		<td>Process status</td>
    		<td>{{ StatusProcess_CHOICES|access:ip.statusprocess }} ({{ ip.statusprocess }})
			{% if ip.statusprocess == 0 %}
                 <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:green"/>
                {% else %}
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color:#F6A50B"/>
                {% endif %}
			</td>
    	</tr>
    </tbody>
  </table>
