{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'search/js/aip2dip.js' %}"></script>

    <script type="text/javascript" src="{% static 'earkweb/underscorejs/underscore-min.js' %}"></script>

    <script type="text/javascript" src="{% static 'search/js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'search/css/index.css' %}" type="text/css" />

    <script type="text/javascript" src="{% static 'earkweb/bootstrap-notify/bootstrap-notify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'earkweb/bootstrap-notify/bootstrap-notify.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'earkweb/loadxml/XMLDisplay.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'earkweb/loadxml/XMLDisplay.js' %}"></script>
   
{% endblock %}

{% block content %}

{% include "search/about_module.html" %}

<h2 class="main">AIP Selection</h2>

<p>In the following, a search can be performed in order to find files contained in an AIP. The purpose of this search interface is to enable selection of AIPs for a DIP creation
    process. The pull-down menu ' DIP creation process' is used to determine for which DIP the a selected AIP is chosen. First a search is executed and then an AIP can be
    selected by clicking on the 'plus' icon, the background will be green if an AIP is added.
    It is also possible to remove a selected AIP from the selected DIP creation process by clicking on the 'minus' icon.</p>
<p>By clicking on the bounding boxes in the search result, the hierarchical result list can be folded and unfolded.</p>



<form id="select-aip-form"  class="form-horizontal" action="{% url 'search:search_form' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div style="width: 500px">
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" value="search" id="sbtn" class="btn btn-default" name="action"/>
            </div>
        </div>
    </div>
    <div id="loading" style="display: none; position: fixed; z-index: 9998; right: 0px;
            top: 45px; padding-left: 50px; padding-right: 50px; padding-top: 12px;
            padding-bottom: 12px; background-color: gray">
        <span id="load_text">loading...</span>
    </div>
    <p>{% if procname and procname != 'default' %}<a href="{% url 'search:dip' procname|urlencode %}">Back to DIP creation process <b>{{ procname }}</b></a>{% endif %}</p>
    <div class="tree">
        DIP creation process: <select id="dipselect" data-toggle="tooltip" title="Selected packages will be added to the DIP creation process identified by this name" name="dip" onchange="getElementById('sendbutton').focus();getElementById('sendbutton').click()">

        {% for dip in dips %}
           <option value="{{ dip.name }}"
               {% if dip.name|urlencode == procname %}selected="selected"{% endif %}>
               {{ dip.name }}
           </option>
        {% endfor %}


        </select><br>
        <span id="foundlabel"></span>
        <ul>
            <li>
                <span><i class="glyphicon glyphicon-folder-open"></i> E-ARK Collection 1</span>
                <ul id="packgroupresults"></ul>
            </li>
        </ul>
    </div>
</form>
<div id="loadingpreview" style="display:none"></div>

{% endblock %}
