{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'search/js/pubsearch.js' %}"></script>
    
    <script type="text/javascript"
        src="{% static 'search/js/packsel.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />
      
{% endblock %}

{% block content %}
        <h2>Access link local repository</h2>
        <div><ul>
           <li><a href="http://127.0.0.1:8000/earkweb/earkcore/access_local_repo_item/bar/text/plain/foo/">Access TEXT document</a></li>
            <li><a href="http://127.0.0.1:8000/earkweb/earkcore/access_local_repo_item/bar/image/png/tarimg.png/">Access PNG image</a></li>
       </ul></div>

        <div><ul>
           <li><a href="http://127.0.0.1:8000/earkweb/earkcore/access_local_repo_item/44573b47-3d75-40d6-968d-bceb66c61e63/application/pdf/submission/representations/docs/data/General relativity.pdf/">Access PDF document</a></li>
       </ul></div>
{% endblock %}
