{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <!-- AIP to DIP javascript -->
    <script type="text/javascript" src="{% static 'search/js/aip2dip.js' %}"></script>

    <script type="text/javascript"
        src="{% static 'search/js/packsel.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />


      
{% endblock %}

{% block content %}

<h1>Open DIP creation processes</h1>

<form>
    {% csrf_token %}
    {% for dip in package_list %}
        <p><a href="{% url 'search:dip' dip.name %}"><b>{{ dip.name }}</b></a></p>
        <ul>

        {% for package in dip.aips.all %}
            <li>{{ package.identifier }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
</form>
<br>
<form action="{% url 'search:create_dip' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" />
    <input type="submit" value="new DIP" />
</form>

{% endblock %}
