{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <script type="text/javascript"
        src="{% static "earkweb/jquery-1.11.2/jquery-1.11.2.js" %}">
    </script>
    <script type="text/javascript"
        src="{% static "earkweb/jquery-1.11.2/jquery.form.min.js" %}">
    </script>
    
    <script type="text/javascript"
        src="{% static 'search/js/packsel.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />  
      
{% endblock %}

{% block content %}

<h1>Order Basket</h1>
{% for dip in package_list %}
    <h2>{{ dip.name }}</h2>
    {% for package in dip.packages.all %}
        <p>{{ package.identifier }}</p>
    {% endfor %}
{% endfor %}

<form id="search-form" action="{% url 'search:create_dip' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" />
    <input type="submit" value="new DIP" />
</form>

<form id="search-form" action="{% url 'search:acquire_aips' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="acquire AIPs" />
</form>

{% endblock %}
