{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}
    
    <script type="text/javascript"
        src="{% static 'search/js/packsel.js' %}">
    </script>
    <link rel="stylesheet" href="{% static "search/css/packsel.css" %}" type="text/css" />  
      
{% endblock %}

{% block content %}

<h1>Order Basket</h1>

<form>
    {% csrf_token %}
    {% for dip in package_list %}
        <a href="{% url 'search:dip' dip.name %}"><b>{{ dip.name }}</b></a><br>
        {% for package in dip.aips.all %}
            <p>{{ package.identifier }}</p>
        {% endfor %}
    {% endfor %}
</form>
<br>
<form action="{% url 'search:create_dip' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" />
    <input type="submit" value="new DIP" />
</form>

{% endblock %}
