<tr><th>Selected AIP</th><th>TAR container accessible</th><th style="text-align: center">Action</th></tr>
{% for aip in dip.aips.all %}
        <tr>
            <td style="padding:3px">{{ aip.identifier }}</td>
            <td style="padding-left:10px">
                {% if aip.source_available %}
                Accessible <span data-toggle="tooltip" title="AIP is accessible" class="glyphicon glyphicon-ok-sign"/>
                {% else %}
                Unavailable <span data-toggle="tooltip" title="AIP is NOT accessible" class="glyphicon glyphicon-question-sign"/>
                {% endif %}
            </td>
            <td style="text-align: center"><button type="button" class="btn btn-primary btn-xs" onclick="removeaip('{{ aip.identifier }}', '{{ dip.name }}'); return false;" data-toggle="tooltip" title="Remove package."><span class="glyphicon-minus"></span></button></td>
        </tr>
    {% endfor %}
