{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}
    
    <!-- AIP to DIP javascript/css -->
    <script type="text/javascript" src="{% static 'search/js/aip2dip.js' %}"></script>

{% endblock %}

{% block content %}

<h1>AIP to DIP conversion</h1>
<h2>Start new DIP creation process</h2>

<p>Select a name for the DIP creation process:</p>

{% if error %}
<p class="error">Error: {{ error }}</p>
{% endif %}


<div class="standard-form-container">

    <form action="{% url 'search:create_dip' %}" method="post" class="form-horizontal">
        {% csrf_token %}

            <div class="form-group">

                <label for="dip_creation_process_name" class="control-label col-xs-3">Process name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="dip_creation_process_name" name="dip_creation_process_name" placeholder="{{ procname }}"{% if procname %} value="{{ procname }}"{% endif %}>
                </div>

            </div>

            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-10">
                    <button type="submit" class="btn btn-primary">Start new process</button>
                </div>
            </div>

    </form>



</div>

<p>In the next step the AIPs for creating the DIP must be selected.</p>

{% endblock %}
