{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}


    <!-- SIP to AIP javascript -->
    <script type="text/javascript" src="{% static 'search/js/aip2dip.js' %}"></script>


    <link rel="stylesheet" href="{% static 'sip2aip/css/workingarea.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'earkweb/jstree/dist/themes/default/style.min.css' %}" />
    <script src="{% static 'earkweb/jstree/dist/jstree.min.js' %}"></script>

{% endblock %}

{% block content %}


<h1>AIP to DIP conversion</h1>
<h2>Working directory</h2>

<div id="directorytree"></div>

<script language="javascript">var uuid='{{ uuid }}';</script>
<script src="{% static 'sip2aip/js/workingarea.js' %}"></script>

<p id="event_result"></p>

{% endblock %}