<h1 class="main">SIP to AIP conversion</h1>

<p>The AIP &ndash; as defined in the  <a href="http://public.ccsds.org/publications/archive/650x0m2.pdf" target="_blank">OAIS reference model</a> &ndash; is an information package used
    to transmit and/or store archival objects within a digital repository. An AIP contains both, structural and descriptive metadata about the
    content, as well as the actual content itself.</p>

<p>The SIP to AIP conversion is a set of tasks that can be performed to convert an E-ARK SIP to an E-ARK AIP which both must comply with structural and metadata requirements defined by the E-ARK project.</p>

