<h1>SIP to AIP conversion</h1>

<p>The AIP, as defined in the  <a href="http://public.ccsds.org/publications/archive/650x0m2.pdf" target="_blank">OAIS reference model</a>, is an information package used
    to transmit archival objects into a digital repository, store the objects within the system, and retrieve objects from the system. An AIP contains both metadata that describes
    the structure and content of an archived essence and the actual content itself.</p>

<p>The SIP to AIP conversion is a set of tasks that can be performed to convert an E-ARK SIP &ndash; which means that it must comply with
    structural and metadata requirements defined by the E-ARK project &ndash; to an E-ARK AIP.</p>

