{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <script type="text/javascript" src="/static/earkweb/earkweb/jquery-1.11.2/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/static/earkweb/earkweb/jquery-1.11.2/jquery.form.min.js"></script>

    <!-- SIP to AIP javascript -->
    <script type="text/javascript" src="{% static 'sip2aip/js/sip2aip.js' %}"></script>

    <!-- Polling -->
    <script type="text/javascript" src="{% static 'earkcore/js/polling.js' %}"></script>

    <!-- batch.html stylesheet -->
    <link rel="stylesheet" href="{% static "sip2aip/css/batch.css" %}" type="text/css" />

    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

{% endblock %}

{% block content %}

    {% include "sip2aip/about_module.html" %}

    <h2 class="main">Batch SIP ingest</h2>

    <p>Run SIP to AIP conversion for all SIP files in the reception directory. </p>

    <p></p><button id="batch-apply-task" type="submit" class="btn btn-primary" onclick="return false" >Run batch ingest!</button></p>

    <table id="receptiontable" class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
		<th class="filecol">Package file</th>
		<th class="daticol">Date/time</th>
		<th class="mimecol">Mime-type</th>
        <th class="statcol">Status</th>
      </tr>
    </thead>
    <tbody id="iplist">
        <tr id="loading"><td colspan="4">Loading files in reception directory ...</td></tr>
    </tbody>
  </table>

    <script language="JavaScript">
        var reception_packages = Array();
        $('#batch-apply-task').attr("disabled", "disabled");

        // module defining the context of the get directory information request

        var get_dir_info_module = {
            request_url: "/earkweb/earkcore/get_directory_json_remote/" +  encodeURIComponent("{{ config_path_reception }}") + "/",
            poll_request_url: "/earkweb/earkcore/poll_state/",
            success_func: function(json_result) {
                $('#loading').nodisplay();
                for(var i in json_result.children) {
                    var mime = json_result.children[i].data.mimetype;
                    var filename = json_result.children[i].text;
                    var datetime = json_result.children[i].data.datetime;


                    if(filename.endsWith(".tar") || filename.endsWith(".zip")) {
                        reception_packages.push(filename);
                        $('#iplist').append('<tr><td class="filename"><span id="'+name_to_id(filename)+'" class="'+name_to_id(mime)+'">'+filename+'</span></td><td>'+datetime+'</td><td>'+mime+'</td><td><span id="st'+name_to_id(filename)+'" class="label label-default received">Received</span></td></tr>');
                    }
                }
                $('#batch-apply-task').prop('disabled', false);

            },
            update_func: function(info) {},
            request_params: {},
            poll_func: pollstate,
            poll_interval: 1000,
        }
        // bind module to function
        var get_dir_info_func = $.proxy( request_func, get_dir_info_module );

        // execute on load
        $(window).load(get_dir_info_func);

        function changeLabel(labelid, oldlabel, newlabel, newlabeltext) {
            $(labelid).removeClass(oldlabel.toLowerCase());
            $(labelid).addClass(newlabel.toLowerCase());
            $(labelid).text(newlabeltext);
        }

        function run_all() {
            $('#batch-apply-task').prop('disabled', true);
            window.console.log("Total number of ingest processes: " + reception_packages.length);
            for(var i=0; i<reception_packages.length; i++) {
                rec_pack = reception_packages[i];
                rec_pack_id = '#st'+name_to_id(rec_pack);
                changeLabel(rec_pack_id, "Received", "Running", "Running");


                // module defining the context of the get directory information request
                var submit_batch_ingest_module = {
                    request_url: "/earkweb/sip2aip/submit_package_ingest/" +  encodeURIComponent(rec_pack) + "/",
                    poll_request_url: "/earkweb/earkcore/poll_state/",
                    success_func: function(json_result) {
                        var proc_pack_status_id = '#st'+name_to_id(json_result.package_file);
                        changeLabel(proc_pack_status_id, "Running", "Processed", "Processed");
                    },
                    update_func: function(info) {
                        if("errmsg" in info) {
                            changeLabel(proc_pack_status_id, "Running", "Error", "Error");
                        } else {
                            var proc_pack_status_id = '#st'+name_to_id(info.package_file);
                            window.console.log("package file: " + info.package_file);
                            window.console.log("last task: " + info.last_task);
                            changeLabel(proc_pack_status_id, "Running", "Running", "Running: " + info.last_task);
                         }
                    },

                    reception_packages: reception_packages,
                    request_params: { },
                    poll_func: pollstate,
                    poll_interval: 20000,
                }
                // bind module to function
                var submit_batch_ingest_func = $.proxy( request_func, submit_batch_ingest_module );

                // submit request
                submit_batch_ingest_func();
            }
        }
        // execute on load
        $('#batch-apply-task').click(run_all);
    </script>
{% endblock %}


