{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <script type="text/javascript" src="/static/earkweb/earkweb/jquery-1.11.2/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/static/earkweb/earkweb/jquery-1.11.2/jquery.form.min.js"></script>

    <!-- SIP to AIP javascript -->
    <script type="text/javascript" src="{% static 'sip2aip/js/sip2aip.js' %}"></script>

    <!-- Polling -->
    <script type="text/javascript" src="{% static 'earkcore/js/polling.js' %}"></script>

    <!-- batch.html stylesheet -->
    <link rel="stylesheet" href="{% static "sip2aip/css/batch.css" %}" type="text/css" />

{% endblock %}

{% block content %}

    {% include "sip2aip/about_module.html" %}

    <h2 class="main">Batch SIP ingest</h2>

    <p>Batch SIP to AIP conversion applying an ingest workflow</p>
    <p><button id="batch-apply-task">Run batch ingest!</button></p>

    <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
		<th>Package file</th>
		<th>Mime-type</th>
      </tr>
    </thead>
    <tbody id="iplist">

    </tbody>
  </table>

    <script language="JavaScript">
        var poll_request_url = "/earkweb/earkcore/poll_state/";
        var poll_success_func = function(json_result) {
            for(var i in json_result.children) {
                var mime = json_result.children[i].data.mimetype;
                var filename = json_result.children[i].text;
                $('#iplist').append('<tr><td class="filename"><span class="'+name_to_id(mime)+'">'+filename+'</span></td><td>'+mime+'</td></tr>');
            }
        };
        var get_data_params = {"param": "test"};
        var conf_path_rec = encodeURIComponent("{{ config_path_reception }}");

        var get_data_module = {
            get_data_url: "/earkweb/earkcore/get_directory_json_remote/" +  conf_path_rec + "/"
        }

        var get_data_function = $.proxy( get_data_func, get_data_module );


        $(window).load(get_data_function);

        <!--var get_run_batch_module = { get_data_url: "/earkweb/sip2aip/run_batch_ingest/" +  conf_path_rec + "/" }-->
        <!--var run_batch_func = get_data_func.bind(get_run_batch_module);-->
        <!--$('#batch-apply-task').click(run_batch_func);-->

    </script>
{% endblock %}


