{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

<script type="text/javascript" src="{% static 'earkweb/underscorejs/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'earkweb/jquery-1.11.2/jquery-1.11.2.js' %}"></script>
<script type="text/javascript" src="{% static 'earkweb/jquery-1.11.2/jquery.form.min.js' %}"></script>

<script type="text/javascript" src="{% static 'search/js/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'search/css/index.css' %}" type="text/css" />

<script type="text/javascript" src="{% static 'earkweb/bootstrap-notify/bootstrap-notify.js' %}"></script>
<link rel="stylesheet" href="{% static 'earkweb/bootstrap-notify/bootstrap-notify.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'earkweb/loadxml/XMLDisplay.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'earkweb/loadxml/XMLDisplay.js' %}"></script>
   
{% endblock %}

{% block content %}

test

{% endblock %}
