{% extends "earkweb/base.html" %}
{% load dictionary_extras %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block extra_head %}

    <!-- SIP to AIP javascript -->
    <script type="text/javascript" src="{% static 'search/js/pubsearch.js' %}"></script>
    <script type="text/javascript" src="{% static 'earkcore/js/csrfajax.js' %}"></script>

    <script type="text/javascript" src="{% static 'earkweb/bootstrap-notify/bootstrap-notify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'earkweb/bootstrap-notify/bootstrap-notify.css' %}" type="text/css" />

{% endblock %}

{% block content %}

    {% include "sip2aip/about_module.html" %}

    <h2 class="main">Indexing status of packages in AIP storage</h2>

    <p>The indexing of packages available in AIP storage can be initiated here.</p>

    <p><button id="reindexbtn" class="btn btn-default">Index AIP storage</button></p>

    <p>Note that re-indexing AIP storage will delete the existing index first.</p>

    <p>The following table gives an overview about the indexing status of packages available in AIP storage.</p>

    {% render_table informationpackage %}

    <script>
        $( "#reindexbtn" ).click(function() {
            $.ajax({
                url: "/earkweb/earkcore/reindex_aip_storage",
                context: document.body,
            }).success(function(data) {
                $('#reindexbtn').attr("disabled", "disabled");
                $('.top-right').notify({
                    message: { text: 'Indexing of AIP storage started!' }
                  }).show();
            }).error(function(err, message, status_text) {
                alert("Error!");
            });
        });
	</script>

{% endblock %}
