{% load dictionary_extras %}
<table  class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
		<th>Name</th>
		<th>Value</th>
      </tr>
    </thead>
    <tbody>
    	<tr class="row2">
    		<td data-toggle="tooltip" title="Internal identifier">Process ID</td>
    		<td>{{ ip.uuid }}</td>
    	</tr>
    	<tr class="row2">
    		<td>Package name</td>
    		<td>{{ ip.packagename }}</td>
    	</tr>
		{% if ip.identifier %}
    	<tr class="row2">
    		<td data-toggle="tooltip" title="Public identifier">Package Identifier</td>
    		<td>{{ ip.identifier }}</td>
    	</tr>
		{% endif %}
		<tr class="row1">
			<td>Working area path</td>
			<td><a href="{% url 'sip2aip:working_area' 'sip2aip' ip.uuid %}" title='Package in working area'>{{ config_path_work }}/{{ ip.uuid }}</a></td>
		</tr>
    	<tr class="row2">
    		<td data-toggle="tooltip" title="Public identifier">Last task</td>
    		<td>{{ ip.last_task }}</td>
    	</tr>
	    <tr class="row1">
    		<td>Process status <a href="{% url 'sip2aip:help_processing_status' %}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"/></td>
    		<td>{{ StatusProcess_CHOICES|access:ip.statusprocess }} ({{ ip.statusprocess }})</td>
    	</tr>

    </tbody>
  </table>