{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <!-- SIP to AIP javascript -->
    <script type="text/javascript" src="{% static 'sip2aip/js/sip2aip.js' %}"></script>

{% endblock %}

{% block content %}

    {% include "sip2aip/about_module.html" %}

    <h2 class="main">Active SIP to AIP conversion processes</h2>

    <p>The following table gives an overview about open SIP to AIP conversion processes. Each package has a package name which was provided in the first step of the
    SIP creation process and an internal process identifier (Process ID). The process identifier is also the name of the working directory where information package
    transformations take place (Working directory).</p>

    <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Package name</th>
        <th>Process ID</th>
        <th>Last task <a href="{% url 'sip2aip:help_processing_status' %}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:gray"></a></th>
        <th>Last change</th>
        <th>Process status</th>
      </tr>
    </thead>
    <tbody>
        {% for ip in ips %}
            <tr>
                <td><a href="{% url 'sip2aip:ip_detail' ip.pk %}" title='Detail information'>{{ ip.packagename }}</a></td>

                <td>
                    <a href="{% url 'sip2aip:working_area' 'sip2aip' ip.uuid %}" title='Package in working area'>{{ ip.uuid }}</a>
                </td>
                <td>{{ ip.last_task }}</td>
                <td>{{ ip.last_change|date:"d.m.Y H:i:s" }}</td>
                <td>{{ StatusProcess_CHOICES|access:ip.statusprocess }}
                {% if ip.statusprocess == 0 %}
                 <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:green"/>
                {% else %}
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color:#91170A"/>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <p>Proceed to the next step by clicking on a package name which is where information package transformation tasks can be executed. If the SIP
    is extracted, the working area of the information package can be accessed (working directory).</p>

{% endblock %}
