{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <!-- SIP to AIP javascript -->
    <script type="text/javascript" src="{% static 'sip2aip/js/sip2aip.js' %}"></script>

{% endblock %}

{% block content %}

    {% include "sip2aip/about_module.html" %}

    <h2 class="main">Upload SIP</h2>

    <p>This form allows uploading a SIP package file into the working area.</p>
    <p>Additionally, a SIP delivery XML document can be provided. This file will be generated if omitted, but note that the correct transfer is not guaranteed in this case because
       the checksum specified in the delivery file is used to verify the integrity of the package file.</p>

    {% if error %}
    <p class="error">
        An error occurred: {{ error }}
    </p>
    {% endif %}

    <div class="standard-form-container">

        <form class="form-horizontal" action="{% url 'sip2aip:upload_sip_delivery' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="form-group">

                    <label class="control-label col-xs-3">SIP package name</label>
                    <div class="col-xs-6">

                        {% csrf_token %}
                        <span>{{ form.as_p }}</span>

                    </div>

                </div>

                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-10">
                        <button id="upload_btn" type="submit" class="btn btn-primary">Upload SIP Delivery</button>
                    </div>
                </div>

        </form>

    </div>

    <p>Note: The SIP must be in TAR or ZIP format. If a delivery file is provided, then the basename must be equal to the package file's basename (i.e. <packagename>.tar and <packagename>.xml).</p>

{% endblock %}
