{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}


    <!-- workflow javascript -->
    <script type="text/javascript" src="{% static 'workflow/js/workflow.js' %}"></script>

    <script type="text/javascript" src="{% static 'workflow/js/execution.js' %}"></script>
    <link rel="stylesheet" href="{% static 'workflow/css/execution.css' %}" type="text/css" />
    {% if task_id %}
    <!--script type="text/javascript">pollstate('{{ task_id }}');</script-->
    {% endif %}

{% endblock %}

{% block content %}

{% include "workflow/execution_form.html" %}

{% include "workflow/progress_module.html" %}

{% endblock %}
