{% extends "earkweb/base.html" %}

{% load staticfiles %}

{% block extra_head %}

{% endblock %}

{% block content %}

{% include "mrinterface/about_module.html" %}

<h2 class="main">Prepare and launch a new Map Reduce Job for NLP</h2>

<p>You need to define the input and the job type.</p>

<div class="standard-form-container">

    <form class="form-horizontal" role="form" method="POST" onsubmit="return false">
        <fieldset>
            <legend>Task/Workflow execution</legend>

            <select name="Tomar-bases MR jobs">
                <option value="gerNER">NER German</option>
                <option value="hunNER">NER Hungarian</option>
            </select>

            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <button id="apply-task">Run job!</button>
        </fieldset>
    </form>

</div>

{% endblock %}