{% load static i18n %}

{% if user.is_authenticated %}

{% if request.user.is_superuser or request.user.is_staff or request.user.is_superuser  %}
<li id="administration" class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i aria-hidden="true" class="fas fa-tools"></i>  {% trans 'Administration' %}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
  {% if request.user.is_superuser or request.user.is_staff  %}
     <a class="dropdown-item" href="/earkweb/administration/dashboard">{% trans 'Dashboard' %}</a>
    {% if request.user.is_superuser %}
    <a class="dropdown-item" href="/earkweb/admin">{% trans 'Django Administration' %}</a>
    <a class="dropdown-item" href="http://{{flower_host}}:{{flower_port}}{{flower_path}}tasks">{% trans 'Flower process monitoring' %}</a>
    <a class="dropdown-item" href="/earkweb/api/">REST API</a>
    {% endif %}
    <a class="dropdown-item" href="/earkweb/rs">{% trans 'ResourceSyncInterface' %}</a>
    {% endif %}
</div>
</li>
{% endif %}


<li id="submission" class="nav-item dropdown pointer text-nowrap">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i aria-hidden="true" class="fas fa-boxes"></i>  {% trans 'Submission' %}
  </a>

  <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
    <a class="dropdown-item" href="/earkweb/submission/start">{% trans 'NavNewSubmission' %}</a>
    <a class="dropdown-item" href="/earkweb/submission/overview">{% trans 'NavOpenSubmissions' %}</a>
  </div>

</li>


<li id="management" class="nav-item dropdown pointer text-nowrap">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i aria-hidden="true" class="fas fa-archive"></i>  {% trans 'Package Management' %}
  </a>

  <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
    <a class="dropdown-item" href="/earkweb/management/overview">{% trans 'NavIngestedPackages' %}</a>
  </div>

</li>



<li id="knowext" class="nav-item dropdown pointer text-nowrap">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i aria-hidden="true" class="fas fa-project-diagram"></i>  {% trans 'Knowledge Extraction' %}
  </a>

  <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
    <a class="dropdown-item" href="/earkweb/knowext/index">{% trans 'Overview' %}</a>
    <a class="dropdown-item" href="/earkweb/knowext/processings">{% trans 'Data processing' %}</a>
<!--    <a class="dropdown-item" href="/earkweb/knowext/audio">{% trans 'Audio Analysis' %}</a>-->
    <a class="dropdown-item" href="/earkweb/knowext/nlp">{% trans 'Text Analysis' %}</a>
  </div>

</li>

<li id="access" class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i aria-hidden="true" class="fas fa-search"></i>  {% trans 'Search & Access' %}
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown5">
  <a class="dropdown-item" href="/earkweb/access/search">{% trans 'Search' %}</a>
  <a class="dropdown-item" href="/earkweb/access/indexing-status">{% trans 'Indexing status' %}</a>
</div>
</li>



{% endif %}