{% extends "earkweb/base.html" %}

{% load dictionary_extras %}

{% load static %}
{% load i18n %}

{% block extra_head %}

    <!-- Submission area javascript -->
    <script type="text/javascript" src="{% static 'management/js/management.js' %}"></script>

    <script type="text/javascript">
    var task_ready_msg = "{% trans 'Checkout task completed!' %}";
    var task_error_msg = "{% trans 'An error occurred while trying to execute the task!' %}";
    var flowerHost = '{{flower_host}}'; var flowerPort = '{{flower_port}}'; var flowerPath = '{{flower_path}}';
    </script>
    <script type="text/javascript" src="{% static 'workflow/js/pollstate.js' %}"></script>
    <script type="text/javascript">
    $( document ).ready(function() {
        $('#reviewbtn').addClass('disabled');
        pollstate('{{ jobid }}');
    });
    </script>
    <link rel="stylesheet" href="{% static "workflow/css/execution.css" %}" type="text/css" />

{% endblock %}

{% block content %}

    <h1 class="main">{% trans 'Checkout confirmation' %}</h1>

    <p id="confirmation">{% trans 'Information package checkout process is running.' %}</p>

    <p>{{ msg_checkout_confirm }}</p>

    {% if not flower_status %}
    <div>
    <p style="color: #FF8000">{% trans 'Warning: no task monitoring available because the task monitoring service is not running at' %}: {{ flower_api_endpoint }}</p>
    </div>
    {% endif %}

    <p><progress id="progress" max="100" value="0"></progress></p>

    <p id="childjobs"></p>

    <div id="errordiv" style="border: 1px solid red; bottom: 10px; top: 10px;">
        <p  id="error"><span id="errmsg"></span>: <span id="errdetail"></span></p>
    </div>

    <p><a class="btn btn-info" type="button" href="{% url 'management:resubmit' ip.pk %}">{% trans 'Overview of information package' %}</a></p>

    <p><a id="reviewbtn" class="btn btn-primary" type="button" href="{% url 'management:ip_detail' ip.pk %}">{% trans 'Edit information package' %}</a></p>


{% endblock %}
