{% extends "earkweb/base.html" %}

{% load dictionary_extras %}

{% load static %}
{% load i18n %}

{% block extra_head %}

    <!-- Submission area javascript -->
    <script type="text/javascript" src="{% static 'management/js/management.js' %}"></script>

{% endblock %}

{% block content %}

    {% if uid %}


    {% include "management/about_module.html" %}

    <h2 class="main">{% trans 'Deletion confirmation' %}</h2>

    <p>{% trans 'Working copy deleted: ' %} {{ uid }}</p>

    <p>&nbsp;</p>
    <a data-toggle="tooltip" title="Back to the overview" href="{% url 'management:overview'  %}" class="btn btn-eark">
        {% trans 'Back' %}
    </a>

    {% endif %}


{% endblock %}
