{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'earkweb/underscorejs/underscore-min.js' %}"></script>
<script language="JavaScript">
var solrEndpoint = 'http://{{ django_service_ip }}:{{django_service_port}}/earkweb/earkcore/solrinterface/';


$( document ).ready(function() {
    var id = "{{identifier}}".replace("urn:uuid:", "");
    $.ajax({
      url: solrEndpoint + "fl=package,%20packagetype,%20path,%20content_type&indent=on&q=package:*"+id+"&start=0&rows=500&wt=json",
      type: "GET",
    }).success(function(response, data, more){
        var json = $.parseJSON(response);
        window.console.log(json.response);
        $('#numdocs').html(json.response.numFound);
        $('#packagetype').html(json.response.docs[0].packagetype);
        var repr_uls = {};
        for (var i in json.response.docs) {
            var item = json.response.docs[i].path;
            var ct = json.response.docs[i].content_type[0];
            if(item.indexOf("/submission/") !== -1 && item.indexOf("/data/") !== -1) {
                display_item = item.replace("{{identifier}}/submission/representations/", "")
                var representation =  display_item.substring(0, display_item.indexOf("/"));
                display_item = display_item.replace(representation+"/data/", "");
                if (!(representation in repr_uls)) {
                    var repr_ul = $("<ul><li>Representation: "+representation+"</li></ul>");
                    repr_uls[representation] = repr_ul;
                }
                var acc_url = "http://{{ django_service_ip }}:{{django_service_port}}/earkweb/earkcore/access_aip_item/{{identifier}}/"+ct+"/"+item+"/";
                repr_uls[representation].append("<ul><li>File: <a href='"+acc_url+"'>"+display_item+"</a></li></ul>");


                window.console.log(acc_url);
                $('#submission').append(repr_ul);
            }
        }


    });

});
</script>

{% endblock %}

{% block content %}

    <h1>Information package view</h1>

    <h2><span id="packagetype"></span>: {{ identifier }}</h2>

    <table class="table table-striped table-bordered table-condensed">
        <tr><th style="width: 50%">Metadata</th><th style="width: 50%">Data</th></tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <p>Total number of files in the package: <span id="numdocs"></span></p>
                <ul>
                    <li>Submission data
                    <ul id="submission"></ul>
                    </li>
                </ul>
            </td>
        </tr>

    </table>


{% endblock %}
