{% extends "earkweb/base.html" %}
{% load dictionary_extras %}

{% load staticfiles %}

{% block extra_head %}

    <!-- Section highlighting -->
    <script type="text/javascript">$(document).ready(function () { $(".nav li").removeClass("active"); $('#{{ section }}').addClass('active'); });</script>

    <!-- working area css -->
    <link rel="stylesheet" href="{% static 'earkcore/css/workingarea.css' %}" type="text/css" />

    <!-- jstree javascript/css -->
    <link rel="stylesheet" href="{% static 'earkweb/jstree/dist/themes/default/style.min.css' %}" />
    <script src="{% static 'earkweb/jstree/dist/jstree.min.js' %}"></script>

    <!-- bootbox -->
    <script type="text/javascript" src="{% static 'earkweb/bootbox-4.4.0/bootbox.js' %}"></script>

    <!-- xml display javascript/css -->
    <link rel="stylesheet" href="{% static 'earkweb/loadxml/XMLDisplay.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'earkweb/loadxml/XMLDisplay.js' %}"></script>

{% endblock %}

{% block content %}

<h1 class="main">{{ title }}</h1>

<p>The working area shows the content of an information package and allows to display files if the display component is implemented for file format of the selected file.</p>

<h2 class="main">Working area: {{ uuid }}</h2>

<p>This working directory shows the content of process: {{ uuid }}</p>

<div id="directorytree"></div>

<!-- working area script -->
<script language="javascript">var uuid='{{ uuid }}';</script>
<script src="{% static 'earkcore/js/workingarea.js' %}"></script>

<p id="event_result"></p>

<p><a href="javascript:history.back()" title='Back to overview'>back</a></p>

<!-- xml display -->
<div id="loadingpreview" style="display:none"></div>

{% endblock %}