{% load staticfiles %}
{% load dictionary_extras %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>XML editor</title>
<link rel="stylesheet" href="{% static 'earkweb/jquery.xmleditor/css/reset.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'earkweb/jquery.xmleditor/css/demo.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'earkweb/jquery.xmleditor/css/jquery.xmleditor.css' %}" type="text/css" />
<script src="{% static 'earkweb/jquery.xmleditor/lib/ace/src-min/ace.js' %}"></script>
<script src="{% static 'earkweb/jquery.xmleditor/lib/jquery.min.js' %}"></script>
<script src="{% static 'earkweb/jquery.xmleditor/lib/jquery-ui.min.js' %}"></script>
<script src="{% static 'earkweb/jquery.xmleditor/lib/json2.js' %}"></script>
<script src="{% static 'earkweb/jquery.xmleditor/lib/cycle.js' %}"></script>
<script src="{% static 'earkweb/jquery.xmleditor/xsd/xsd2json.js' %}"></script>
<script src="{% static 'earkweb/jquery.xmleditor/jquery.xmleditor.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
	<!-- main style sheet -->
    <link rel="stylesheet" href="{% static "earkweb/css/base.css" %}" type="text/css" />
    <!-- bootstrap style sheet -->
    <link rel="stylesheet" href="{% static "earkweb/bootstrap-3.3.2/css/bootstrap.css" %}" type="text/css" />

	<script type="text/javascript" src="{% static 'earkcore/js/csrfajax.js' %}"></script>

	<style>
		.element_header {
			height: 30px;
		}
		.xml_menu_column {

			border: 1px solid #BBBBBB;
			padding-right: 15px;
			padding-bottom: 10px;
			margin-left: 20px;
			margin-top: 3px;
			-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
		}
		.confirmation {

		}

	</style>
</head>
<body>

    {% include "earkweb/navbar.html" %}

	<div class="container">

		<h2>Process: <a href="{% url 'sipcreator:working_area' section='sipcreator' uuid=uuid %}">{{ uuid }}</a></h2>
		<h3>Editing XML file: {{ ip_xml_file_path }}</h3>

		{% if note %}
			<h4><i>{{ note }}</i></h4>
		{% endif %}


      <div id="content" class="content-wrapper">

	<div id="xml_editor">
	</div>
	<script>
		$(function() {
				window.console.log("Loading XML file from IP: {{ ip_work_dir_sub_path }}");

				$.ajax({
                  url: "/earkweb/earkcore/read_ipfc/{{ ip_work_dir_sub_path }}",
                  context: document.body,
                }).success(function(data) {
					$('#xml_editor').html(data);
					$(function() {
						var extractor = new Xsd2Json("ead3.xsd", {"schemaURI":"{% static 'xsd/' %}"});
						$("#xml_editor").xmlEditor({
							schema: extractor.getSchema(),
							ajaxOptions : {
								xmlUploadPath : "/earkweb/earkcore/savexml/{{ ip_work_dir_sub_path }}/",
								contentType:'multipart/form-data',

						    },
						    submitResponseHandler : function submissionConfirmation() {
									$(".xml_submit_status").addClass("confirmation");
									window.console.log("submitted");
								},
						});
					});
                }).error(function(err, message, status_text) {
					alert("Error!");
                });
		});
	</script>

      </div>

    </div><!-- /.container -->



</body>
</html>
