.half, .left-box, .right-box {
  width: 50%;
  float: left;
}

form, .output {
  padding: 40px;
  width: 95%;
  background-color: #cccccc;
  border-radius: 10px;
}

input, select {
  font-size: 20px;
}
