.half {
  width: 50%;
  float: left;
}

.left-box {
  font-size: 120%;
  width: 35%;
  float: left;
}

.right-box {
  width: 65%;
  float: left;
}

form, .output {
  padding: 40px;
  width: 98%;
  background-color: #cccccc;
  border-radius: 10px;
}


input, select {
  font-size: 18px;
}
